<ng-container *ngIf="athlete">
    <div class="d-flex flex-wrap">
        <app-selection-wrapper
                [singleSelection]="true"
                [formControl]="selectedAbility"
                [template]="abilityTemplate"
                [dataItems]="abilities"
                [idKey]="'key'"
        >
            <ng-template #abilityTemplate let-dataItem="dataItem">
                <app-ability
                        [ability]="dataItem"
                ></app-ability>
            </ng-template>
        </app-selection-wrapper>
    </div>
</ng-container>