<div class="base-workout" *ngIf="baseWorkout">
    <div class="stat-item">
        <div class="stat-item__property">Base workout distance:</div>
        <div class="stat-item__value">{{baseWorkout?.distance | distance}}</div>
    </div>
    <div class="stat-item">
        <div class="stat-item__property">Base workout pace:</div>
        <div class="stat-item__value">{{baseWorkout?.average_speed | pace}}</div>
    </div>
    <ng-container *ngIf="showPersonalBests">
        <div class="text-bold text-blue mt-3">
            Personal Best:
        </div>
        <div class="stat-item" *ngFor="let pb of personalBests">
            <div class="stat-item__property">{{pb.title}}:</div>
            <div class="stat-item__value">{{baseWorkout[pb.property] | time}}{{baseWorkout[pb.property] === rules.DEFAULT_BASE_WORKOUT[pb.property] ? '*' : ''}}</div>
        </div>
        <div class="mt-2 text-small light">
            <span class="text-bold">*</span> Default value for all athletes. It's time to beat it!
        </div>
    </ng-container>
</div>
