<div class="base-workout pt-0" *ngIf="baseWorkout">
    <ng-container *ngFor="let type of activityTypes | keyvalue: noSort">
        <div class="text-bold text-blue mt-3 d-flex align-items-center activity-type--{{type.value}}">
            <app-svg [icon]="'activity_' + type.value"></app-svg>
            <span class="pl-1">{{type.value + '' | titlecase}}:</span>
        </div>
        <div class="stat-item" *ngIf="baseWorkout[type.value].distance">
            <div class="stat-item__property">Base workout distance:</div>
            <div class="stat-item__value">{{baseWorkout[type.value].distance | distance}}</div>
        </div>
        <div class="stat-item" *ngIf="baseWorkout[type.value].average_speed">
            <div class="stat-item__property">Base workout pace:</div>
            <div class="stat-item__value">{{baseWorkout[type.value].average_speed | pace}}</div>
        </div>
        <ng-container *ngIf="showPersonalBests">
            <div class="text-bold text-small mt-3">
                Personal Best:
            </div>
            <ng-container *ngFor="let pb of personalBests">
                <div class="stat-item" *ngIf="baseWorkout[type.value][pb.property]">
                    <div class="stat-item__property">{{pb.title}}:</div>
                    <div class="stat-item__value">{{baseWorkout[type.value][pb.property] | time}}{{baseWorkout[type.value][pb.property] === rules.DEFAULT_BASE_WORKOUT[type.value][pb.property] ? '*' : ''}}</div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <div class="mt-2 text-small light" *ngIf="showPersonalBests">
        <span class="text-bold">*</span> Default value for all athletes. It's time to beat it!
    </div>
</div>
