.board-selection {
  background-color: var(--color-background);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 4px 14px;
}

.board-button {
  position: relative;
  border-radius: 12px;
  background-color: var(--card-background);
  overflow: hidden;
  padding: 7px 8px 7px 8px;
  cursor: pointer;
  flex-grow: 2;
  transition: flex-grow 0.15s ease-in-out;
  &__background {
    opacity: 0.1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  span {
    transition: font-size 0.15s ease-in-out;
  }
  &--inactive {
    flex-grow: 1;
    .board-button__background {
      background-color: var(--card-background) !important;
    }
    span {
      color: var(--color-text-light)!important;
      font-size: 0!important;
    }
    app-svg {
      fill: var(--color-text-light) !important;
    }
  }
}