# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/android
/ios

# dependencies
/node_modules

#credentials
/definitions/firebaseConfig.json
/definitions/firebaseConfig.prod.json
/definitions/sampleUser.json
/definitions/stravaConfig.ts
/definitions/mapConfig.ts
/definitions/firebaseConfig.ts
/definitions/firebaseConfig.prod.ts
/definitions/sampleUser.ts
/definitions/stravaConfig.json

# IDEs and editors
/.idea
.project
.angular
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Logs
logs/*

# Data
creatures.json

.nx/cache