<div class="d-flex gap-1 justify-content-center" [ngClass]="{'flex-column': vertical}">
    <app-reward-money *ngIf="rewards && rewards.coins !== 0"
                      [value]="rewards.coins"
    >
    </app-reward-money>
    <app-reward-experience *ngIf="experienceReward"
                           [value]="experienceReward"
    >
    </app-reward-experience>
    <app-reward-points *ngIf="rewards.points"
                       [value]="rewards.points"
    >
    </app-reward-points>
    <app-reward-energy *ngIf="rewards.energy"
                       [value]="rewards.energy">
    </app-reward-energy>
    <app-reward-chest *ngIf="rewards.chest"
                       [value]="rewards.chest">
    </app-reward-chest>
    <app-reward-perk *ngIf="rewards.perk"
                      [value]="rewards.perk">
    </app-reward-perk>
    <app-reward-random-perk *ngIf="rewards.random_perk"
                     [value]="rewards.random_perk">
    </app-reward-random-perk>
    <app-reward-special-task *ngIf="rewards.special_task"
                            [value]="rewards.special_task">
    </app-reward-special-task>
    <ng-container *ngIf="!rewardsOnly">
        <app-reward-energy *ngIf="energyCost && energyCost !== 0"
                           [value]="-energyCost">
        </app-reward-energy>
    </ng-container>

</div>