<div class="d-flex gap-1">
    <app-reward-money *ngIf="card?.coinsReward && card?.coinsReward !== 0 && card?.coinsReward !== '0'"
                      [value]="card?.coinsReward"
    >
    </app-reward-money>
    <app-reward-experience *ngIf="experienceReward"
                           [value]="experienceReward"
    >
    </app-reward-experience>
    <app-reward-points *ngIf="card?.value"
                       [value]="card?.value"
    >
    </app-reward-points>
    <ng-container *ngIf="!rewardsOnly">
        <app-reward-energy *ngIf="card?.energyCost && card?.energyCost !== 0 && card?.energyCost !== '0'"
                           [value]="-card?.energyCost">
        </app-reward-energy>
    </ng-container>

</div>