<div class="box completed-card d-flex flex-column justify-content-between align-items-center">
    <ng-container *ngIf="card">
        <div class="completed-card__image mb-2"
             [style.background-image]="'url(' + card.image + ')'"
             [style.background-image]="'url(../../../assets/cards/' + imageName + '.png)'"
        ></div>
        <h5 class="m-0 mb-1 text-center">{{card?.title}}</h5>
        <app-rewards [rewards]="card.rewards"
                     [energyCost]="card.energyCost"
                     [perks]="perks"
                     [rewardsOnly]="true"
                     class="mb-1"></app-rewards>
        <app-button (buttonClick)="claimReward()"
                    type="action"
                    styleClass="full-width"
                    label="Claim"
                    [small]="true"></app-button>
    </ng-container>
</div>