<div class="box completed-card d-flex flex-column justify-content-between align-items-center">
    <div class="completed-card__image mb-2" *ngIf="card"
         [style.background-image]="'url(' + card.image + ')'"
    ></div>
    <h5 class="m-0 mb-1 text-center">{{card?.title}}</h5>
    <app-rewards [card]="card"
                 [perks]="perks"
                 [rewardsOnly]="true"
                 class="mb-1"></app-rewards>
    <app-button (buttonClick)="claimReward()"
                type="action"
                styleClass="full-width"
                label="Claim Reward"
                [small]="true"></app-button>
</div>