<div class="collapsible" [ngClass]="{'collapsible--inclusive': inclusive}">
    <div class="collapsible__header" (click)="toggle()">
        <h3 class="collapsible__title title">{{title}}</h3>
        <div class="collapsible__icon">
            <img *ngIf="!expanded" src="/assets/icons/arrow_down.svg">
            <img *ngIf="expanded" src="/assets/icons/arrow_up.svg">
        </div>
    </div>
    <div class="collapsible__content"
         [@collapse]="
                {
                    value: (expanded ? 'expanded' : 'collapsed')
                }
            "
    >
        <ng-content></ng-content>
    </div>
</div>
