.collapsible {
    &__header {
        background: var(--acticity-background);
        border-radius: var(--radius);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--padding);
        cursor: pointer;
    }
    &__content {
        transition: 0.2s ease-in-out;
        overflow: hidden;
        &--collapsed {
            max-height: 0!important;
        }
    }
    &--inclusive {
        background: var(--acticity-background);
        border-radius: var(--radius);
    }
}
