.collapsible {
    &__header {
        background: var(--acticity-background);
        border-radius: var(--radius);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--padding);
        cursor: pointer;
    }
    &__content {
        transition: 0.3s ease-in-out;
        overflow: hidden;
    }
    &--inclusive {
        background: var(--acticity-background);
        border-radius: var(--radius);
    }
    &--custom-header {
        .collapsible__header {
            padding: 0;
        }
        .collapsible__icon {
            padding-right: var(--padding-value);
        }
    }
}
