<div class="d-flex justify-content-center">
    <app-athlete [size]="'big'" [athlete]="athlete"></app-athlete>
</div>

<!--<div class="mt-3">-->
<!--    <app-collapsible [title]="'Base Workout Stats'"-->
<!--                     [inclusive]="true"-->
<!--                     [id]="'baseWorkout'"-->
<!--    >-->
<!--        <div hiddenContent>-->
<!--            <app-base-workout-info [self]="self" [baseWorkout]="athlete?.baseWorkout"></app-base-workout-info>-->
<!--        </div>-->
<!--    </app-collapsible>-->
<!--</div>-->

<div class="mt-3">
    <app-collapsible [title]="'Special Abilities'"
                     [inclusive]="true"
                     [id]="'specialAbilities'"
    >
        <div hiddenContent>
            <div class="mb-3 mt-2">
                <app-abilities></app-abilities>
            </div>
        </div>
    </app-collapsible>
</div>

<div class="mt-3">
    <app-collapsible [title]="'Played Cards'"
                     [inclusive]="true"
                     [id]="'payedCards'"
    >
        <div hiddenContent>
            <div class="mt-2">
                <div *ngFor="let activity of athleteActivities$ | async; let i = index" class="mb-2">
                    <app-card *ngFor="let cardSnapShot of activity.gameData.cardSnapshots"
                              [card]="cardSnapShot"
                              [showActivate]="false"
                    >

                    </app-card>
                </div>
            </div>
        </div>
    </app-collapsible>
</div>

<div class="mt-5" *ngIf="self">
    <app-button (buttonClick)="openLogoutPopup()" icon="logout" [label]="'Logout'" type="danger"></app-button>
</div>

<ng-template #logoutPopup>
    <div class="popup box">
        <div class="d-flex flex-column align-items-center">
            <img src="../../../../../assets/images/blanket_sticker.png" class="mt-4">
            <p class="mt-4 mb-1">
                Are you sure you want to logout?
            </p>
            <div class="mt-4 mb-2 full-width">
                <app-button type="danger-filled" [label]="'Logout'" (buttonClick)="logout()"></app-button>
            </div>
            <div class="mb-3">
                <app-button (buttonClick)="cancelLogout()" [label]="'Cancel'"></app-button>
            </div>
        </div>
    </div>
</ng-template>
