<div class="d-flex justify-content-center">
    <app-athlete [size]="'big'" [athlete]="athlete"></app-athlete>
</div>

<div class="mt-3">
    <app-collapsible [title]="'Base Workout Stats'"
                     [inclusive]="true"
                     [id]="'baseWorkout'"
    >
        <div hiddenContent>
            <app-base-workout-info [self]="self" [baseWorkout]="athlete?.baseWorkout"></app-base-workout-info>
        </div>
    </app-collapsible>
</div>


<div class="mt-3">
    <app-collapsible [title]="'Achievements'"
                     [inclusive]="true"
                     [id]="'achievements'"
    >
        <div hiddenContent>
            <div class="mb-3">
                <div *ngFor="let achievement of achievements$ | async; let i = index">
                    <hr class="m-1" *ngIf="i !== 0">
                    <app-achievement [achievement]="achievement"></app-achievement>
                </div>
            </div>
        </div>
    </app-collapsible>
</div>

<div class="box mt-3">
    <p class="title">Collected Cards</p>
    <p class="text-small lighter mb-0">Coming soon</p>
</div>

<div class="mt-5" *ngIf="self">
    <app-button (buttonClick)="openLogoutPopup()" icon="logout" [label]="'Logout'" type="danger"></app-button>
</div>

<ng-template #logoutPopup>
    <div class="popup box">
        <div class="d-flex flex-column align-items-center">
            <img src="../../../../../assets/images/blanket_sticker.png" class="mt-4">
            <p class="mt-4 mb-1">
                Are you sure you want to logout?
            </p>
            <div class="mt-4 mb-2 full-width">
                <app-button type="danger-filled" [label]="'Logout'" (buttonClick)="logout()"></app-button>
            </div>
            <div class="mb-3">
                <app-button (buttonClick)="cancelLogout()" [label]="'Cancel'"></app-button>
            </div>
        </div>
    </div>
</ng-template>
