@import "styles/grid";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

:root {
    --text-size: 14px;
    --text-size-small: 10px;
    --text-size-medium: 12px;
    --text-size-smaller: 8px;
    --text-size-title: 16px;
    --text-size-big: 18px;

    --text-active: #38f;
    --card-background: rgba(245, 247, 251, 1);
    --acticity-background: rgba(245, 247, 251, 1);
    --background: #fff;
    --popup-background: #00000066;
    --card-shadow: 2px 5px 7px rgba(0, 0, 0, 0.1);
    --color-disabled: #ddd;
    --color-text: rgba(15, 15, 49, 1);
    --color-text-lighter: #0F0F3180;
    --color-text-light: #00000080;
    --color-pass: limegreen;
    --color-blue: #494ADB;
    --color-green: rgba(127, 168, 41, 1);
    --color-yellow: rgba(251, 176, 45, 1);
    --color-red: rgba(240, 100, 73, 1);
    --color-blue-dark: rgba(15, 15, 49, 1);
    --color-blue-light: #494ADB66;
    --color-pink: #B754F3;
    --color-danger: var(--color-main-2);

    --color-primary: var(--color-blue);
    --color-primary-variant: var(--color-blue-dark);
    --color-secondary-1: var(--color-yellow);
    --color-secondary-2: var(--color-red);
    --color-secondary-3: var(--color-green);
    --color-border: var(--color-primary);

    --color-run: var(--color-primary);
    --color-walk: var(--color-secondary-3);
    --color-ride: var(--color-secondary-1);
    --color-other: var(--color-secondary-2);
    --color-all: var(--color-secondary-2);

    --padding: 10px 10px 10px 10px;
    --padding-wide: 12px 14px 12px 14px;
    --padding-value: 14px;
    --radius: 10px;
    --radius-half: 5px;

    --menu-height: 56px;
    --header-height: 50px;
}


body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: -0.3px;
    padding: 0;
    color: var(--color);
    margin: 0 0 var(--menu-height) 0;
    overflow-x: hidden;
    font-size: var(--text-size);
    background-color: var(--background);
}

.color-primary {
    color: var(--color-primary)!important;
    fill: var(--color-primary)!important;
}
.background-primary {
    background-color: var(--color-primary);
}

.background-primary-variant {
    background-color: var(--color-primary-variant)!important;
}

.color-secondary-1 {
    color: var(--color-secondary-1)!important;
    fill: var(--color-secondary-1)!important;
}
.background-secondary-1 {
    background-color: var(--color-secondary-1)!important;
}

.color-secondary-2 {
    color: var(--color-secondary-2)!important;
    fill: var(--color-secondary-2)!important;
}
.background-secondary-2 {
    background-color: var(--color-secondary-2)!important;
}

.color-secondary-3 {
    color: var(--color-secondary-3)!important;
    fill: var(--color-secondary-3)!important;
}
.background-secondary-3 {
    background-color: var(--color-secondary-3)!important;
}


hr {
    border: none;
    height: 1px;
    background-color: #00000030;
}

.no-scroll {
    overflow: hidden;
}

.full-width {
    width: 100%;
}

.title {
    font-weight: 400;
    font-size: var(--text-size-title);
    margin: 0;
}

.lighter {
    color: var(--color-text-lighter);
    app-svg {
        fill: var(--color-text-lighter);
    }
}

.light {
    color: var(--color-text-light);
    app-svg {
        fill: var(--color-text-light);
    }
}

.text-blue {
    color: var(--color-blue);
}

.text {
    &-color {
        &-on-primary {
            color: white;
        }
    }
}

h5 {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}

.color {
    &--tier-0 { color: var(--color-main-0); }
    &--tier-1 { color: var(--color-main-1); }
    &--tier-2 { color: var(--color-main-2); }
    &--tier-3 { color: var(--color-main-3); }
    &--tier-4 { color: var(--color-main-4); }
}

.text-bold {
    font-weight: 700;
}

.text-small {
    font-size: var(--text-size-small)
}

.text-medium {
    font-size: var(--text-size-medium)
}

.styled-list {
    list-style: none;
    padding: 0;
    li {
        font-size: var(--text-size);
        padding-left: 16px;
        position: relative;
        margin-bottom: 16px;
        &:before {
            content: '';
            left: 0;
            top: 3px;
            background-color: var(--color-blue);
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 5px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.stat-item {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__property {
        color: var(--color-text-light);
    }
    &__value {
        font-weight: 600;
        color: var(--color-text);
    }
}

.box {
    background-color: var(--acticity-background);
    padding: var(--padding);
    border-radius: var(--radius);
}

.border-primary {
    border: 1px solid var(--color-border);
}

.pointer {
    cursor: pointer;
}

.no-click {
    pointer-events: none;
}

.h-50 {
    height: 50px!important;
}
