@import "styles/grid";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

:root {
    --text-size: 14px;
    --text-size-small: 10px;
    --text-size-medium: 12px;
    --text-size-smaller: 8px;
    --text-size-title: 16px;
    --text-size-big: 18px;

    --text-active: #38f;
    --card-background: #fff;
    --acticity-background: #fff;
    --background: #EDEAE4;
    --popup-background: #00000066;
    --card-shadow: 2px 5px 7px rgba(0, 0, 0, 0.1);
    --color-text: #0F0F31;
    --color-disabled: #ddd;
    --color-text-lighter: #0F0F3180;
    --color-text-light: #00000080;
    --color-pass: limegreen;
    --color-main-0: #ECB844;
    --color-main-1: #EC8044;
    --color-main-2: #EC4444;
    --color-main-3: #EF79CE;
    --color-main-4: #B157EA;
    --color-blue: #494ADB;
    --color-blue-light: #494ADB66;
    --color-pink: #B754F3;
    --color-danger: var(--color-main-2);

    --color-run: var(--color-main-2);
    --color-walk: var(--color-main-0);
    --color-ride: var(--color-blue);
    --color-other: var(--color-pink);
    --color-all: var(--color-main-1);

    --padding: 14px 14px 14px 14px;
    --padding-value: 14px;
    --radius: 10px;

    --menu-height: 56px;
    --header-height: 74px;
}


body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: -0.3px;
    padding: 0;
    margin: 0 0 var(--menu-height) 0;
    overflow-x: hidden;
    font-size: var(--text-size);
    background-color: var(--background);
}

hr {
    border: none;
    height: 1px;
    background-color: #00000030;
}

.no-scroll {
    overflow: hidden;
}

.full-width {
    width: 100%;
}

.title {
    font-weight: 400;
    font-size: var(--text-size-title);
    margin: 0;
}

.lighter {
    color: var(--color-text-lighter);
    app-svg {
        fill: var(--color-text-lighter);
    }
}

.light {
    color: var(--color-text-light);
    app-svg {
        fill: var(--color-text-light);
    }
}

.text-blue {
    color: var(--color-blue);
}

.color {
    &--tier-0 { color: var(--color-main-0); }
    &--tier-1 { color: var(--color-main-1); }
    &--tier-2 { color: var(--color-main-2); }
    &--tier-3 { color: var(--color-main-4); }
    &--tier-4 { color: var(--color-main-4); }
}

.text-bold {
    font-weight: 700;
}

.text-small {
    font-size: var(--text-size-small)
}

.text-medium {
    font-size: var(--text-size-medium)
}

.styled-list {
    list-style: none;
    padding: 0;
    li {
        font-size: var(--text-size);
        padding-left: 16px;
        position: relative;
        margin-bottom: 16px;
        &:before {
            content: '';
            left: 0;
            top: 3px;
            background-color: var(--color-blue);
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 5px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.stat-item {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__property {
        color: var(--color-text-light);
    }
    &__value {
        font-weight: 600;
        color: var(--color-text);
    }
}

.box {
    background-color: var(--acticity-background);
    padding: var(--padding);
    border-radius: var(--radius);
}

.pointer {
    cursor: pointer;
}

.no-click {
    pointer-events: none;
}

.activity-type {
    &--run {
        color: var(--color-run)!important;
        fill: var(--color-run)!important;
    }
    &--walk {
        color: var(--color-walk)!important;
        fill: var(--color-walk)!important;
    }
    &--ride {
        color: var(--color-ride)!important;
        fill: var(--color-ride)!important;
    }
    &--other {
        color: var(--color-other);
        fill: var(--color-other)!important;
    }
    &--all {
        color: var(--color-all);
        fill: var(--color-all)!important;
        svg {
            margin-top: 6px;
            width: 32px;
            height: 32px;
        }
    }
}
