.image-upload {
    .p-fileupload-buttonbar {
        order: 2;
        background: none;
        padding: 0;
        border: 0;
    }


    .p-fileupload {
        display: flex;
        .p-fileupload-files {
            &>div {
                display: flex;
            }
        }
        .p-fileupload-content {
            order: 1;
            background: none;
            padding: 0;
            border: 0;
        }
    }
    .p-progressbar {
        display: none;
    }
    .p-fileupload-row {
        display: block;
        position: relative;
        margin-right: 8px;
        &>div {
            &:nth-child(1) {
                width: 50px;
                height: 50px;
                overflow: hidden;
                padding: 0;
                border-radius: var(--radius);
            }
            &:nth-child(2), &:nth-child(3) {
                display:none;
            }
            &:nth-child(4) {
                position: absolute;
                right: 6px;
                top: 2px;
                padding: 0;
                button {
                    border-radius: var(--radius-half);
                    width: 18px;
                    height: 18px;
                    display: block;
                    background: white;
                    path {
                        fill: var(--color-danger);
                    }
                }
            }
            &>img {
                object-fit: cover;
                height: 50px;
                width: 50px;
            }
        }
    }
    .p-fileupload-choose, .p-button-icon-only {
        cursor: pointer;
        background-color: var(--background);
        border-radius: var(--radius);
        color: var(--color-text);
        padding: 0;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        .p-button-icon {
            display: none;
        }
        &:focus {
            outline: none!important;
            box-shadow: none!important;
        }
        &:not(.p-disabled):hover {
            background-color: var(--acticity-background);
            color: var(--text-color);
        }
    }
    .p-fileupload-choose {
        height: 50px;
        width: 50px;
        border-radius: 3px;
        border: 1px dashed var(--color-primary);
        .p-button-label {
            flex: none;
            font-size: 0;
            &:before {
                content: '+';
                color: var(--color-primary);
                position: relative;
                font-size: 32px;
                font-weight: 400;
                line-height: 0;
                left: 0;
                top: 2px;
            }
        }
    }
    .p-button-icon-only {
        display: inline-block;
        margin-right: -16px;
        .p-button-label {
            visibility: visible;
            &:before {
                content: "✕";
                color: var(--color-danger);
                position: relative;
                font-size: 14px;
                top: -4px;
                right: -2px;
                line-height: 0;
                font-weight: 700;
                transform: rotate(45deg);
            }
        }
    }
}
