.map {
  height: 322px;
  width: 100%;
  border-radius: var(--input-radius);
  &--thumbnail {
    height: 50px;
    width: 50px;
    border-radius: var(--radius);
  }
}

.map__wrapper {
  position: relative;
}

.map__content {
  position: absolute;
  bottom: 12px;
  right: 12px;
  left: 12px;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
