<div class="level d-flex" [ngClass]="{'level--completed': completed, 'level--claimed': claimed, 'level--active': levelIndex === currentLevel}">
    <div class="level__status mr-2">
        <div class="level__status-line"></div>
        <div class="level__status-circle">
            <div>
                {{levelIndex + 1}}
            </div>
        </div>
    </div>
    <div class="ml-1 level__content box d-flex flex-grow-1 justify-content-between align-items-center">
        <div class="d-flex align-items-start flex-grow-1">
            <span class="text-medium text-semibold d-flex align-items-center" [ngClass]="{'text-light': levelIndex !== currentLevel}">
                <span *ngIf="levelIndex === currentLevel">
                    {{levelIndex < currentLevel ? LEVEL_EXPERIENCE[levelIndex] : levelIndex > currentLevel ? 0 : progress}}
                    /
                </span>
                <div class="d-flex align-items-center">
                    <span>{{LEVEL_EXPERIENCE[levelIndex]}}</span>
                    <div class="mb-0-5">
                        <app-svg [styleClass]="levelIndex !== currentLevel ? 'opacity-05' : 'color-text'" [icon]="'fire'" [height]="12" [width]="14"></app-svg>
                    </div>
                    <span>points</span>
                </div>
            </span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div [ngClass]="{'grayscale': claimed}" *ngIf="!(!claimed && levelIndex < currentLevel)">
                <app-rewards [rewards]="LEVEL_REWARDS[levelIndex]"></app-rewards>
            </div>
            <div class="ml-2">
                <app-rewards-button *ngIf="(!claimed && levelIndex < currentLevel)"
                            [label]="'Claim'"
                            [rewards]="LEVEL_REWARDS[levelIndex]"
                            (click)="claimReward()"
                >
                </app-rewards-button>
            </div>
        </div>
    </div>
</div>
