<div class="waiting-room fullscreen">
    <app-header [title]="'Waiting Room'" [icon]="'clock'"></app-header>
    <div class="login d-flex full-width align-items-center justify-content-center flex-column">
        <p class="mt-3 text-big text-bold">You have successfully logged in!</p>
        <p class="mt-4 title text-bold">As for now:</p>
        <ul class="pl-0 mt-3 mb-1 text-bold text-center">
            <li>Please check this guide for more information:</li>
        </ul>
        <p class="mt-0 pt-0 text-center text-bold">
            <a class="color-primary" href="https://firebasestorage.googleapis.com/v0/b/cards-prod-1ef96.appspot.com/o/documents%2FKurkudos%20Instruction%20EN.pdf?alt=media&token=2f2ebe15-f7ee-414a-8dec-520b144905a8" target="_blank">Guide EN</a>
            &nbsp;
            <a class="color-primary" href="https://firebasestorage.googleapis.com/v0/b/cards-prod-1ef96.appspot.com/o/documents%2FKurkudos%20Instruction%20LV.pdf?alt=media&token=6ef8b649-a077-451e-a2ae-bb15237bd722" target="_blank">Guide LV</a>
            &nbsp;
            <a class="color-primary" href="https://firebasestorage.googleapis.com/v0/b/cards-prod-1ef96.appspot.com/o/documents%2FKurkudos%20Instruction%20RU.pdf?alt=media&token=8056f467-d42b-430b-be79-2a78d13f1385" target="_blank">Guide RU</a>
        </p>
        <ul class="pl-0 mt-1 mb-4 text-bold text-center">
            <li>And join the <a class="color-primary" href="https://t.me/+Gl97UyHM-sthOWNk" target="_blank">KurKudos Telegram</a> channel</li>
        </ul>
        <img src="assets/images/blanket.png">
        <p class="mt-4 text-bold">You will be redirected when game is started</p>
        <div class="mt-4 mb-3">
            <app-logout-button></app-logout-button>
        </div>
    </div>
</div>
