<div class="scores">
    <div class="scores__legend mb-1">
        <div class="scores__legend-item scores__legend-item--cards ml-3">
            Cards
        </div>
        <div class="scores__legend-item scores__legend-item--points ml-3">
            Points
        </div>
    </div>
    <div *ngFor="let score of scores | async | sort: 'value': 'desc'; let i = index" class="mb-2">
        <app-score-item
            [score]="score"
            [position]="i + 1"
        ></app-score-item>
    </div>
</div>
