.scores {
    width: 100%;
    &__legend {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: var(--padding);
        &-item {
            text-align: center;
            font-size: 12px;
            min-width: 50px;
        }
    }
}
