<div class="scores mt-4">
    <div class="scores__legend mb-1 pt-0 pb-0">
        <div class="scores__legend-item scores__legend-item--cards ml-3">
            Level
        </div>
        <div class="scores__legend-item scores__legend-item--points ml-3">
            Points
        </div>
    </div>
    <div *ngFor="let score of scores | async; let i = index" class="mb-2">
        <app-score-item
            [score]="score"
            [position]="i + 1"
        ></app-score-item>
    </div>
</div>
