<div class="popup popup--fullscreen comment-view">
    <app-header [icon]="'comment'"
                [title]="'Comments for completed activity'"
                [backButton]="true"
                (backButtonClicked)="close()"
    ></app-header>
    <div class="d-flex flex-column justify-content-between comment-view__content">
        <div class="full-width d-flex flex-column align-items-center box pt-0 background">
            <div class="box p-1-5 mb-3 full-width">
                <app-card-snapshot [card]="card"
                                   [activity]="activity"
                                   [showActions]="false"
                                   [showGallery]="false"
                                   class="full-width"
                >
                </app-card-snapshot>
            </div>

            <div *ngFor="let comment of card?.comments" class="mb-2 px-2 full-width">
                <app-comment [comment]="comment"
                             (deleteComment)="deleteComment(card, $event)"
                ></app-comment>
            </div>
            <div *ngIf="!card?.comments.length" class="text-light text-center">
                <p class="mb-2">No Comments yet.</p>
                <p class="mt-2">Yours could be the first!</p>
            </div>

        </div>
        <div class="comment-input d-flex gap-1 p-2 full-width align-items-start">
            <app-athlete [athlete]="me | async"
                         [showName]="false"></app-athlete>
            <div class="flex-grow-1">
                <app-textarea [fc]="activityComment" [rows]="3" (keydown)="onKeyDown($event)"></app-textarea>
            </div>
            <app-svg [icon]="'submit'" [styleClass]="activityComment.value ? 'color-primary' : 'color-disabled'" [height]="32" [width]="32" (click)="addComment()"></app-svg>
        </div>
    </div>

</div>
