.counter-item {
    width: 24px;
    height: 30px;
    border-radius: 5px;
    border-top: 4px solid var(--color-main-0);
    border-bottom: 4px solid var(--color-main-0);
    border-left: 2px solid var(--color-main-0);
    border-right: 2px solid var(--color-main-0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-background);
    &__icon {
        display: none;
    }
    &--checked {
        background-color: var(--color-main-0);
        .counter-item__icon {
            display: block;
        }
    }
}

app-counter-item {
    z-index: 1;
}
