<app-mobile-menu (activeTitle)="title = $event"></app-mobile-menu>

<app-content>
    <router-outlet></router-outlet>
    <app-strava-powered></app-strava-powered>
</app-content>

<app-popup-wrapper
        [templateControl]="progressPopupControl"
        [title]="'Challenge progress'"
        [description]="'You have progressed in some of your challenges'"
        [confirmText]="'Nice'"
        [showCancel]="false"
>
    <app-active-challenges [updates]="challengeUpdates"></app-active-challenges>
</app-popup-wrapper>