.activity {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border-radius: var(--radius);
    &__content {
        position: relative;
    }
    &__type {
        font-weight: 800;
        font-size: var(--text-size-title);
    }
}

.selection-wrapper__data-item {
    .activity {
        border-bottom: 1px solid var(--color-text-light);
        border-radius: 0;
    }
    &:last-child {
        .activity {
            border-bottom: none;
        }
    }
}
