.activity {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--acticity-background);
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    &__images {
        //display: flex;
    }
    &__image {
        display: block;
        max-width: 160px;
        max-height: 160px;
        width: auto;
        height: auto;
        padding: 16px;
    }
    &__type {
        font-weight: 800;
        font-size: var(--text-size-title);
        &--run {
            color: var(--color-main-4);
        }
        &--walk {
            color: var(--color-main-0);
        }
        &--other {
            color: var(--color-blue);
        }
    }
    &__data-item {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__property {
        color: var(--color-text-light);
    }
    &__value {
        font-weight: 600;
        color: var(--color-text);
    }
    &__id {
        position: absolute;
        top: var(--padding-value);
        right: var(--padding-value);
        opacity: 0.2;
    }
}

.selection-wrapper__data-item {
    .activity {
        border-bottom: 1px solid var(--color-text-light);
        border-radius: 0;
    }
    &:last-child {
        .activity {
            border-bottom: none;
        }
    }
}
