<div class="activity">
    <div *ngIf="showAthlete"
         class="d-flex align-items-center"
    >
        <div class="ml-1">
            <app-athlete *ngIf="activity?.athlete" [size]="'small'" [athleteId]="activity?.athlete.id">
                <span class="text-medium">gained {{activity.gameData?.cardSnapshots[0].value}} points by submitting an activity:</span>
            </app-athlete>
        </div>
    </div>
    <div *ngIf="activity.gameData.cardSnapshots?.length">
        <app-selection-wrapper
            [selectionEnabled]="selection"
            [formControl]="selectedCards"
            [template]="cardTemplate"
            [dataItems]="activity.gameData.cardSnapshots"
        >
            <ng-template #cardTemplate let-dataItem="dataItem">
                <app-card
                    [card]="dataItem"
                ></app-card>
            </ng-template>
        </app-selection-wrapper>
    </div>
    <div class="activity__content" [ngClass]="{'full-width': !activity.gameData.cardSnapshots?.length}">
        <div class="activity__id text-small lighter">
            {{activity.id}}
        </div>
        <div class="text-small lighter">
            Type:
        </div>
        <div class="activity__type mt-1"
             [ngClass]="{
                'activity__type--run': activity.type === 'Run',
                'activity__type--walk': activity.type === 'Walk',
                'activity__type--other': activity.type !== 'Run' && activity.type !== 'Walk'
             }"
        >{{activity.type}}</div>
        <div class="stat-item">
            <div class="stat-item__property">Started at</div>
            <div class="stat-item__value">{{activity.start_date | date : 'dd MMM, HH:mm'}}</div>
        </div>
        <div class="stat-item">
            <div class="stat-item__property">Time</div>
            <div class="stat-item__value">{{activity.moving_time | time}} ({{activity.elapsed_time | time}} total)</div>
        </div>
        <div class="stat-item">
            <div class="stat-item__property">Distance</div>
            <div class="stat-item__value">{{(activity.distance | distance) || '-'}}</div>
        </div>
        <div class="stat-item">
            <div class="stat-item__property">Average pace</div>
            <div class="stat-item__value">{{(activity.average_speed | pace) || '-'}}</div>
        </div>
        <div class="stat-item" *ngIf="showComments && activity.gameData.comments">
            <div class="stat-item__property">Comments</div>
            <div class="stat-item__value">{{activity.gameData.comments}}</div>
        </div>
    </div>
    <div *ngIf="showImages && this.activity.gameData?.images?.length"
         class="activity__images mt-n3"
    >
        <div class="activity__image mr-1"
             (click)="openGallery(i)"
             *ngFor="let image of this.activity.gameData?.images; let i = index;"
             [style.background-image]="'url(' + image + ')'">
        </div>
    </div>
</div>

<ng-template #gallery>
    <div class="popup box">
        <app-swiper [images]="this.activity.gameData?.images" [slideIndex]="slideIndex"></app-swiper>
    </div>
</ng-template>
