<div class="activity">
    <div>
        <app-athlete *ngIf="activity?.athlete" [small]="true" [athleteId]="activity?.athlete.id"></app-athlete>
    </div>
    <div>
        <div>
            Type: {{activity.type}}
        </div>
        <div>
            Distance: {{activity.distance | distance}}
        </div>
        <div>
            Time: {{activity.moving_time | time}} ({{activity.elapsed_time | time}})
        </div>
        <div *ngIf="showComments && activity.gameData.comments">
            Comments: {{activity.gameData.comments}}
        </div>
    </div>
    <div *ngIf="activity.gameData.cards?.length">
        Played cards:
        <app-selection-wrapper
          [selectionEnabled]="selection"
          [formControl]="selectedCards"
          [template]="cardTemplate"
          [dataItems]="activity.gameData.cards"
          [wrap]="true"
        >
            <ng-template #cardTemplate let-dataItem="dataItem">
                <app-card
                [cardId]="dataItem"
                [small]="true"
            ></app-card>
            </ng-template>
        </app-selection-wrapper>
    </div>
    <div *ngIf="showImages && this.activity.gameData?.images?.length" class="activity__images">
        <img class="activity__image" *ngFor="let image of this.activity.gameData?.images" src="{{image}}">
    </div>
</div>
