.activity {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--acticity-background);
    width: 100%;
    border-radius: var(--radius);
    &__content {
        padding: var(--padding);
        position: relative;
    }
    &__images {
        display: flex;
        padding: var(--padding);
    }
    &__image {
        display: block;
        width: 72px;
        height: 72px;
        background-size: cover;
        background-position: center;
    }
    &__type {
        font-weight: 800;
        font-size: var(--text-size-title);
        &--run {
            color: var(--color-main-2);
        }
        &--walk {
            color: var(--color-main-0);
        }
        &--other {
            color: var(--color-blue);
        }
    }
    &__id {
        position: absolute;
        top: var(--padding-value);
        right: var(--padding-value);
        opacity: 0.2;
    }
}

.selection-wrapper__data-item {
    .activity {
        border-bottom: 1px solid var(--color-text-light);
        border-radius: 0;
    }
    &:last-child {
        .activity {
            border-bottom: none;
        }
    }
}
