<div class="activity">
    <div class="activity__id text-small lighter">
        {{activity.id}}
    </div>
    <div *ngIf="showAthlete">
        <app-athlete *ngIf="activity?.athlete" [small]="true" [athleteId]="activity?.athlete.id"></app-athlete>
    </div>
    <div [ngClass]="{'full-width': !activity.gameData.cardSnapshots?.length}">
        <div class="text-small lighter">
            Type:
        </div>
        <div class="activity__type mt-1"
             [ngClass]="{
                'activity__type--run': activity.type === 'Run',
                'activity__type--walk': activity.type === 'Walk',
                'activity__type--other': activity.type !== 'Run' && activity.type !== 'Walk'
             }"
        >{{activity.type}}</div>
        <div class="activity__data-item">
            <div class="activity__property">Started at</div>
            <div class="activity__value">{{activity.start_date_local | date : 'dd MMM, HH:mm'}}</div>
        </div>
        <div class="activity__data-item">
            <div class="activity__property">Time</div>
            <div class="activity__value">{{activity.moving_time | time}} ({{activity.elapsed_time | time}} total)</div>
        </div>
        <div class="activity__data-item">
            <div class="activity__property">Distance</div>
            <div class="activity__value">{{(activity.distance | distance) || '-'}}</div>
        </div>
        <div class="activity__data-item">
            <div class="activity__property">Average pace</div>
            <div class="activity__value">{{(activity.average_speed | pace) || '-'}}</div>
        </div>
        <div class="activity__data-item" *ngIf="showComments && activity.gameData.comments">
            <div class="activity__property">Comments</div>
            <div class="activity__value">{{activity.gameData.comments}}</div>
        </div>
    </div>
    <div *ngIf="activity.gameData.cardSnapshots?.length" class="ml-3">
        Played cards:
        <app-selection-wrapper
            [selectionEnabled]="selection"
            [formControl]="selectedCards"
            [template]="cardTemplate"
            [dataItems]="activity.gameData.cardSnapshots"
            [wrap]="true"
        >
            <ng-template #cardTemplate let-dataItem="dataItem">
                <app-card
                    [card]="dataItem"
                    [small]="true"
                ></app-card>
            </ng-template>
        </app-selection-wrapper>
    </div>
    <div *ngIf="showImages && this.activity.gameData?.images?.length" class="activity__images">
        <img class="activity__image" *ngFor="let image of this.activity.gameData?.images" src="{{image}}">
    </div>
</div>
