.login {
    width: 100%;
    padding: var(--padding);
    text-align: center;
    &__app-name{
        font-size: 30px;
        font-weight: 900;
    }
    &__button {
        background-color: #EC8044!important;
        width: 100%;
        color: white;
    }
}
