.login {
    width: 100%;
    padding: var(--padding);
    text-align: center;
    &__app-name{
        font-size: 30px;
        font-weight: 900;
    }

    &__logo {
        max-width: 60%;
        width: 270px;
    }

}
