<h4>Card scheme management</h4>

<app-selection-wrapper
        [formControl]="selectedCards"
        [template]="cardTemplate"
        [dataItems]="allCards | async"
        [wrap]="true"
>
    <ng-template #cardTemplate let-dataItem="dataItem">
        <ng-container [ngTemplateOutlet]="cardShortHand" [ngTemplateOutletContext]="{card: dataItem}"></ng-container>
    </ng-template>
</app-selection-wrapper>

<ng-template #cardShortHand let-card="card">
    <app-card-technical [card]="card"></app-card-technical>
</ng-template>

<div *ngIf="form" class="d-flex flex-wrap justify-content-between">
    <div class="col-6 mt-4" *ngFor="let board of form.controls">
        <app-svg [icon]="board.get('icon').value" [styleClass]="'color-' + board.get('color').value"></app-svg>
        <app-input [label]="'Key'" [fc]="board.get('key')"></app-input>
        <app-input [label]="'Title'" [fc]="board.get('title')"></app-input>
        <app-input [label]="'Color'" [fc]="board.get('color')"></app-input>
        <app-input [label]="'Icon'" [fc]="board.get('icon')"></app-input>
        <div *ngFor="let level of board.get('levels').controls; let i = index" class="mt-2">
            <hr>
            Level {{i + 1}}
            <div class="d-flex">
                <div *ngFor="let card of level.get('cards').value">
                    <ng-container [ngTemplateOutlet]="cardShortHand" [ngTemplateOutletContext]="{card: cardMap.get(card)}"></ng-container>
                    <app-button label="Remove"
                                styleClass="technical"
                                [type]="ButtonType.DANGER"
                                (buttonClick)="removeCard(level, card)">
                    </app-button>
                </div>
            </div>
            <app-button label="Add cards"
                        styleClass="technical"
                        (buttonClick)="addCards(level)">
            </app-button>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between mt-4">
    <app-button (buttonClick)="deleteCards()"
                label="Delete Cards"
                type="danger"
    ></app-button>
    <app-button (buttonClick)="saveSchema()"
                label="Save Schema"
                type="action"
    ></app-button>
</div>