.card-counter {
    padding: var(--padding);
    background-color: var(--acticity-background);
    border-radius: 10px;
    &__indicator {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-line {
            height: 4px;
            width: 100%;
            background-color: var(--color-main-0);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%)
        }
    }
}
