<div class="activity-review">
    <h3>Reported Activities</h3>
    <div *ngFor="let activity of reportedActivities | async; let i = index" class="activity-review__activities">
        <app-activity
            [activity]="activity"
            [showComments]="true"
            [showImages]="true"
            [showReports]="true"
        ></app-activity>
        <div *ngFor="let card of activity.gameData.cardSnapshots">
            <div *ngFor="let report of card.reports">
                <app-button type="danger" (buttonClick)="rejectCard(card.id, activity.id.toString())" [disabled]="!rejectionComment.value" label="Reject {{card.title}}"></app-button>
                <app-button (buttonClick)="resolveReport(card.id, activity.id.toString(), report.id)" [disabled]="!rejectionComment.value" label="Resolve {{card.title}}"></app-button>
            </div>
        </div>
    </div>
    <app-textarea [label]="'Rejection Comment'" [fc]="rejectionComment"></app-textarea>
</div>
