.athlete {
    display: flex;
    align-items: center;
    cursor: pointer;
    &--small {
        .athlete__profile-picture {
            height: 24px;
            width: 24px;
        }
        .athlete__name {
            font-size: var(--text-size-small);
        }
    }
    &--medium {
        .athlete__profile-picture {
            height: 32px;
            width: 32px;
        }
        .athlete__name {
            font-size: var(--text-size-medium);
            font-weight: 600;
        }
    }
    &--big {
        display: flex;
        flex-direction: column;

        .athlete__profile-picture {
            height: 40px;
            width: 40px;
        }
        .athlete__name {
            font-size: var(--text-size-big);
            font-weight: 600;
        }
    }
    &__profile-picture {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    &__name {
        font-size: var(--text-size-big);
    }
}
