.athlete {
    display: flex;
    align-items: center;
    &--small {
        padding: 4px;
        .athlete__profile-picture {
            height: 27px;
            width: 27px;
        }
        .athlete__name {
            font-size: var(--text-size-small);
            margin-left: 4px;
        }
    }
    &--medium {
        .athlete__profile-picture {
            height: 48px;
            width: 48px;
        }
        .athlete__name {
            font-size: var(--text-size-big);
            font-weight: 600;
        }
    }
    &__profile-picture {
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }
    &__name {
        font-size: var(--text-size-big);
        font-weight: 700;
        margin-left: 16px;
    }
}
