<div class="d-flex justify-content-start gap-2 align-items-center box">
    <img class="image-logo image-logo--small" [src]="'assets/images/perk.svg'">
    <div>
        <div class="text-small text-bold mb-2">{{ability.title}}{{level > 1 ? ' (' + level + ')' : ''}}</div>
        <div class="text-small text-light">{{ability.description}}</div>
    </div>
    <div>
        <div class="d-flex justify-content-end">
            <app-reward-money *ngIf="ability.coinsReward" [value]="ability.coinsReward"></app-reward-money>
            <app-reward-points *ngIf="ability.value" [value]="ability.value"></app-reward-points>
            <app-reward-energy *ngIf="ability.energyReward" [value]="ability.energyReward"></app-reward-energy>
        </div>
        <app-button *ngIf="showActivationButton"
                    [label]="'Activate'"
                    [type]="ButtonType.ACTION"
                    [small]="true"
                    [styleClass]="'mt-1-5 w-90'"
                    [loading]="loading"
                    (buttonClick)="openConfirmation()"
        >
            <ng-container [ngTemplateOutlet]="price"></ng-container>
        </app-button>
    </div>
</div>

<ng-template #price>
    <div class="title ml-2 d-flex justify-content-center align-items-center">
        {{ability.coinsCost ? '-' + ability.coinsCost : ability.energyCost ? '-' + ability.energyCost : ''}}&nbsp;<app-svg [icon]="ability.coinsCost ? 'coin' : ability.energyCost ? 'energy' : ''"></app-svg>
    </div>
</ng-template>

<ng-template #activateAbilityPopup>
    <div class="popup box">
        <div class="d-flex flex-column align-items-center">
            <div class="mt-5 pt-2 mb-4 text-center">
                <p class="color-primary">Each ability can be used only once.</p>
                Are you sure you want activate the ability?
            </div>
            <div class="mt-4 mb-2 full-width">
                <app-button type="action" [label]="'Yes'" (buttonClick)="confirm(ability.key)">
                    <ng-container [ngTemplateOutlet]="price"></ng-container>
                </app-button>
            </div>
            <div class="mb-3">
                <app-button (buttonClick)="cancel()" [label]="'Cancel'"></app-button>
            </div>
        </div>
    </div>
</ng-template>

