<app-mobile-menu></app-mobile-menu>

<app-content>

    <app-pending-activity *ngIf="selectedActivity | async" [activity]="selectedActivity | async">
        <app-circular-progress-bar
                [type]="activityType$ | async"
                [currentProgress]="currentProgress$ | async"
                [activity]="remainderActivity"
                [monochrome]="true"
        >
        </app-circular-progress-bar>
    </app-pending-activity>

    <div>
        <div class="mb-2">
            <app-card-scheme
                [title]="'Select Task(s)'"
                [selectedCards]="selectedCards"
                [cardComments]="commentControls"
                [uploadedImages]="uploadedImages"
                [showLocked]="false"
            ></app-card-scheme>
        </div>

        <app-rewards-button
            [label]="(notEnoughEnergy$ | async) ? 'Not enough energy' : 'Submit'"
            (buttonClick)="submitActivity()"
            [disabled]="loading || (notEnoughEnergy$ | async)"
            [rewards]="submitPrice"
            [small]="false"
        ></app-rewards-button>

        <app-button
            [label]="'Delete Activity'"
            [styleClass]="'mt-2'"
            [type]="ButtonType.DANGER"
            (buttonClick)="openDeletePopup()"
        ></app-button>
    </div>

</app-content>


<app-popup-wrapper
        [templateControl]="submitSuccessControl"
        [title]="'Your activity was submitted successfully!'"
        [showConfirm]="false"
        [showCancel]="false"
>
    <img src="../../../../../assets/images/muscle_sticker.png" class="mt-4">
</app-popup-wrapper>

<app-popup-wrapper
        [templateControl]="missingPhotosControl"
        [showConfirm]="false"
        [cancelText]="'Ok'"
        (onCancel)="cancelSubmit()"
>
    <app-svg icon="camera" styleClass="color-primary"></app-svg>
    <p class="mt-3 mb-4 text-center">
        Photos are missing on some of the selected tasks. Please attach a photo for each task
    </p>
</app-popup-wrapper>

<app-popup-wrapper
        [templateControl]="submitConfirmControl"
        [title]="'Ready to submit?'"
        [confirmText]="'Confirm'"
        [cancelText]="'Cancel'"
        (onCancel)="cancelSubmit()"
        (onConfirm)="confirmSubmit()"
>
    <p class="mt-3 mb-3 full-width">
        <ng-container *ngIf="selectedCards.value.length === 0; else hasCards">
            <div class="mb-3 text-bold text-center ">No tasks selected</div>
            <div class="mb-3 text-center">Submitting as a Basic Task</div>
            <app-circular-progress-bar
                    [type]="activityType$ | async"
                    [currentProgress]="currentProgress$ | async"
                    [activity]="remainderActivity"
                    [showDescription]="false"
            >
            </app-circular-progress-bar>
        </ng-container>
        <ng-template #hasCards>
            <div class="text-center">
                Submitting <span class="text-bold">{{selectedCards.value.length}}</span> task(s):
            </div>
            <div class="d-flex flex-column gap-2 mt-3">
                <app-card *ngFor="let card of selectedCards.value"
                          [card]="card.card"
                          [showTags]="false"></app-card>
            </div>
        </ng-template>
    </p>
</app-popup-wrapper>


<app-popup-wrapper
        [templateControl]="activityDeleteControl"
        [title]="'Are you sure you want to delete the activity?'"
        [confirmText]="'Delete'"
        [cancelText]="'Cancel'"
        (onConfirm)="deleteActivity()"
        (onCancel)="cancelDelete()"
>
</app-popup-wrapper>
