<div>
    <app-activity *ngIf="selectedActivity | async" [activity]="selectedActivity | async"></app-activity>

    <p class="light text-medium mb-4">Please select cards to play, add images/comments</p>

    <app-card-queue
        [formControl]="form.get('selectedCards')"
    ></app-card-queue>

    <p class="light text-medium mb-0 mt-4">Upload images, if card requires it</p>
    <app-image-upload
        [formControl]="form.get('selectedImages')"
    ></app-image-upload>

    <app-textarea
        rows="4"
        styleClass="full-width mt-3"
        [label]="'Comments'"
        [fc]="form.get('comments')"></app-textarea>

    <div class="row mt-3">
        <div class="col-md-6 order-md-2 mb-2 mb-md-0">
            <app-button type="action" [disabled]="!form.get('selectedCards')?.value?.length" (click)="submitSelectedActivity()" label="Submit"></app-button>
        </div>
        <div class="col-md-6 order-md-1">
            <app-button type="danger" [transparent]="true" (click)="exitSubmitMode()" label="Cancel"></app-button>
        </div>
        <div class="col-md-6 order-md-3 d-flex justify-content-center align-items-center">
            <app-checkbox [fc]="deleteControl"></app-checkbox>
            <app-button [disabled]="!deleteControl.value" type="danger" [transparent]="true" (click)="deleteActivity()" label="Delete Activity"></app-button>
        </div>
    </div>
</div>
