<div>
    <app-activity *ngIf="selectedActivity | async" [activity]="selectedActivity | async"></app-activity>

    <p class="light text-medium mb-4">Please select cards to play, add images/comments</p>

    <app-card-queue
        [formControl]="form.get('selectedCards')"
    ></app-card-queue>

    <p class="light text-medium mb-0 mt-4">Upload images, if card requires it</p>
    <app-image-upload
        [formControl]="form.get('selectedImages')"
    ></app-image-upload>

    <app-textarea
        rows="4"
        styleClass="full-width mt-3"
        [label]="'Comments'"
        [fc]="form.get('comments')"></app-textarea>

    <div class="row mt-3">
        <div class="col-md-6 order-md-2 mb-2 mb-md-0">
            <app-button type="action" [disabled]="!form.get('selectedCards')?.value?.length || loading" (buttonClick)="submitSelectedActivity()" label="Submit"></app-button>
        </div>
        <div class="col-md-6 order-md-1">
            <app-button type="danger" [transparent]="true" (buttonClick)="exitSubmitMode()" label="Cancel"></app-button>
        </div>
        <div class="col-md-6 order-md-3 mt-4">
            <app-button type="danger" [transparent]="true" (buttonClick)="openDeletePopup()" label="Delete Activity"></app-button>
        </div>
    </div>
</div>

<ng-template #submitPopup>
    <div class="popup box">
        <div class="d-flex flex-column align-items-center submit-popup">
            <img src="../../../../../assets/images/muscle_sticker.png" class="mt-4">
            <p class="title mt-4 mb-4">
                Your activity was submitted successfully!
            </p>
        </div>
    </div>
</ng-template>

<ng-template #deletePopup>
    <div class="popup box">
        <div class="d-flex flex-column align-items-center">
            <p class="mt-4 mb-1">
                Are you sure you want to delete the activity?
            </p>
            <div class="mt-4 mb-2">
                <app-button type="danger" [label]="'Delete'" (buttonClick)="deleteActivity()"></app-button>
            </div>
            <div class="mb-3">
                <app-button (buttonClick)="cancelDelete()" [label]="'Cancel'"></app-button>
            </div>
        </div>
    </div>
</ng-template>
