.circular-progress-bar {
  position: relative;
  width: 102px;
  height: 102px;
  margin: -10px;

  &--small {
    width: 74px;
    height: 74px;

    .circular-progress-bar__icon {
      top: 22px!important;
      left: 30px!important;
    }

    .circular-progress-bar__circle {
      top: 8px;
      left: 8px;
      width: 58px;
      height: 58px;
    }
  }

  &__icon {
    position: absolute;
    top: 33px;
    left: 44px;
  }

  &__total {
    position: absolute;
    pointer-events: none;
    opacity: 0.4;
  }

  &__current {
    position: absolute;
  }

  &--monochrome {
    .circular-progress-bar__background {
      opacity: 0.3!important;
    }
  }

  &__background {
    position: absolute;
    pointer-events: none;
    opacity: 1;
  }

  &--inactive {
    opacity: 0.5;
  }

  &__circle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    &:first-child {
      background-color: var(--color-background);
    }
    &:nth-child(3) {
      opacity: 0.5;
    }
  }

  &__complete {
    cursor: pointer;
  }
}

