.circular-progress-bar {
  position: relative;
  width: 102px;
  height: 102px;
  margin: -10px;

  &__total {
    position: absolute;
    pointer-events: none;
    opacity: 0.4;
  }

  &__current {
    position: absolute;
  }

  &__background {
    position: absolute;
    pointer-events: none;
    opacity: 0.3;
  }

  &--inactive {
    opacity: 0.5;
  }

  &__circle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    &:first-child {
      background-color: var(--color-background);
    }
    &:nth-child(3) {
      opacity: 0.5;
    }
  }

  &__complete {
    cursor: pointer;
  }
}

