<div class="d-flex flex-column align-items-center">
    <div class="circular-progress-bar" [ngClass]="{'circular-progress-bar--active': active, 'circular-progress-bar--small': small, 'circular-progress-bar--monochrome': monochrome}">
        <div class="circular-progress-bar__icon">
            <app-svg [icon]="type ? ('activity_' + type) : 'fire'"
                     [width]="14"
                     [height]="14"
                     [styleClass]="monochrome ? 'color-background' : type ? ('color-' + type) : 'color-primary'">
            </app-svg>
        </div>
        <div class="circular-progress-bar__background">
            <circle-progress
                    [percent]="100"
                    [radius]="radius"
                    [outerStrokeWidth]="strokeWidth"
                    [showTitle]="false"
                    [showSubtitle]="false"
                    [showUnits]="false"
                    [showInnerStroke]="false"
                    [outerStrokeColor]="'#fff'"
                    [animation]="false"
            ></circle-progress>
        </div>
        <div class="circular-progress-bar__current">
            <circle-progress
                    [percent]="currentProgress / 10"
                    [radius]="radius"
                    [outerStrokeWidth]="strokeWidth"
                    [showInnerStroke]="false"
                    [outerStrokeColor]="strokeColor"
                    [subtitle]="activity ? '+ ' +  progress / 10 + '%' : '' + (currentProgress / 10)  + '%'"
                    [subtitleFontSize]="small ? '10' : '12'"
                    [subtitleFontWeight]="'bold'"
                    [subtitleColor]="monochrome ? '#fff' : '#0F0F31'"
                    [showUnits]="false"
                    [animation]="false"
                    [title]="' '"
            ></circle-progress>
        </div>
        <div class="circular-progress-bar__total">
            <circle-progress
                    [percent]="totalProgress / 10"
                    [radius]="radius"
                    [outerStrokeWidth]="strokeWidth"
                    [showTitle]="false"
                    [showSubtitle]="false"
                    [showUnits]="false"
                    [showInnerStroke]="false"
                    [outerStrokeColor]="strokeColor"
                    [animation]="true"
                    [animationDuration]="300"
            ></circle-progress>
        </div>
        <div  *ngIf="complete"
              class="circular-progress-bar__circle circular-progress-bar__complete d-flex flex-column justify-content-center align-items-center text-bold color-background text-small background-{{type}}">
            <div class="d-flex align-items-center">
                <span class="mr-0-5 mt-0-5">{{reward}}</span>
                <app-svg class="color-background" height="14" width="14" viewBox="0 0 14 14" [icon]="'fire'"></app-svg>
            </div>
            <span class="mt-1">Claim</span>
        </div>
    </div>
    <div class="text-small mt-2">
        <span class="color-background d-flex align-items-center" *ngIf="activity; else baseValueTemplate">
            Bonus&nbsp;<app-reward-experience [value]="1"></app-reward-experience>&nbsp;per <ng-container [ngTemplateOutlet]="valueTemplate" [ngTemplateOutletContext]="{value: baseValue}"/>
        </span>
        <ng-template #baseValueTemplate>
            <span class="text-light">
                <ng-container [ngTemplateOutlet]="valueTemplate" [ngTemplateOutletContext]="{value: currentValue}"/>
                /
                <ng-container [ngTemplateOutlet]="valueTemplate" [ngTemplateOutletContext]="{value: baseValue}"/>
            </span>
        </ng-template>
    </div>
</div>

<ng-template #valueTemplate let-value="value">
    <ng-container *ngIf="challengeStat">
        <ng-container [ngSwitch]="challengeStat">
            <ng-container *ngSwitchCase="ChallengeStatType.DISTANCE">
                {{value | distance}}
            </ng-container>
            <ng-container *ngSwitchCase="ChallengeStatType.ELAPSED_TIME">
                {{value | minutes}}
            </ng-container>
            <ng-container *ngSwitchCase="ChallengeStatType.MOVING_TIME">
                {{value | minutes}}
            </ng-container>
            <ng-container *ngSwitchDefault>
                {{value}}
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!challengeStat">
        {{(activity ? activityType === "other" : type === "other") ? (value | minutes) : (value | distance)}}
    </ng-container>
</ng-template>