<h4>Create new card factory</h4>
<app-input [label]="'Card Amount'" [fc]="cardAmount"></app-input>
<app-input [label]="'Validator Amount'" [fc]="validatorAmount"></app-input>
<ng-container *ngIf="validatorAmount.value > 0">
    Base properties for comparison:
    <ul>
        <li *ngFor="let property of workoutProperties">
            {{property}}
        </li>
    </ul>
</ng-container>
<div [formGroup]="form" *ngIf="form">
    <app-checkbox [label]="'Manual validation required'" [fc]="form.get('manualValidation')"></app-checkbox>
    <app-input [label]="'Id (leave blank for creating new card factory)'" [fc]="form.get('id')"></app-input>
    <app-input [label]="'Title'" [fc]="form.get('title')"></app-input>
    <app-select [label]="'Progression'" [fc]="form.get('progression')" [options]="CONST.PROGRESSION | keyvalue"></app-select>

    <div class="d-flex flex-wrap mr-3">
        <ng-container
            *ngFor="let card of cardAmountIterator"
            [ngTemplateOutlet]="cardTemplate"
            [ngTemplateOutletContext]="{index: card, cardGroup: form.get('cards.' + card)}">
        </ng-container>
    </div>

    <img style="max-height: 100px; max-width: 100px;" src="{{selectedCardFactory?.image}}">

    <app-image-upload [multiple]="false"
                      [formControl]="imageControl"
    ></app-image-upload>

    <app-button (buttonClick)="submit()" label="Save"></app-button>
</div>

<ng-template #cardTemplate let-cardGroup="cardGroup" let-index="index">
    <div>
        <h3>Card #{{index}}</h3>
        <app-textarea [label]="'Description'" [fc]="cardGroup.get('description')"></app-textarea>
        <app-input [label]="'Tier'" [fc]="cardGroup.get('tier')"></app-input>
        <app-input [label]="'Value'" [fc]="cardGroup.get('value')"></app-input>
        <app-input [label]="'Uses to Progress'" [fc]="cardGroup.get('usesToProgress')"></app-input>
        <ng-container
            *ngFor="let validator of validatorAmountIterator"
            [ngTemplateOutlet]="validatorTemplate"
            [ngTemplateOutletContext]="{index: validator, validatorGroup: cardGroup.get('validators.' + validator)}">
        </ng-container>
        <app-button (buttonClick)="copyCards(cardGroup.value)" label="Copy"></app-button>
    </div>
</ng-template>

<ng-template #validatorTemplate let-validatorGroup="validatorGroup" let-index="index">
    <div>
        <h5>Validator #{{index}}</h5>
        <app-select [label]="'Property'" [fc]="validatorGroup.get('property')" [options]="CONST.ACTIVITY_PROPERTIES | keyvalue"></app-select>
        <app-select [label]="'Comparator'" [fc]="validatorGroup.get('comparator')" [options]="CONST.COMPARATORS | keyvalue"></app-select>
        <app-input [label]="'Formula'" [fc]="validatorGroup.get('formula')"></app-input>
    </div>
</ng-template>
