<div class="mb-2">
    <app-completed-task-view>

    </app-completed-task-view>
</div>

<h2 class="mb-2 mt-2">My Activities</h2>
<div *ngIf="(newActivities | async).length; else stravaStartTemplate">
    <div class="fullscreen-width">
        <app-activity-carousel [items]="(newActivities | async)">
        </app-activity-carousel>
    </div>
</div>

<ng-template #stravaStartTemplate>
    <app-strava-start-activity></app-strava-start-activity>
</ng-template>

<app-card-scheme [title]="'My Tasks'"></app-card-scheme>


<div class="row mb-2">
    <div class="col-md-12">
        <app-base-card>

        </app-base-card>
    </div>
</div>