<div class="row background-primary-variant pb-4 pt-4">
    <div class="d-flex justify-content-center align-items-center full-width">
        <div class="mr-3">
            <ng-content></ng-content>
        </div>
    </div>
    <div class="offset-lg-3 col-lg-6 mb-3 mt-2" *ngIf="!hideCurrencies">
        <div class="d-flex align-items-center justify-content-between board-header">
            <a [routerLink]="'/board/leaderboard'">
                <app-points-display></app-points-display>
            </a>
            <div class="vertical-line"></div>
            <a [routerLink]="'/board/store'">
                <app-coins-display></app-coins-display>
            </a>
            <div class="vertical-line"></div>
            <a [routerLink]="'/board/store'">
                <app-energy-display></app-energy-display>
            </a>
        </div>
    </div>
</div>