<div class="row flex-md-nowrap flex-sm-wrap order-1 background-primary-variant pb-4">
    <div class="offset-lg-3 col-lg-6 mb-2 mt-3">
        <div class="d-flex align-items-center justify-content-between board-header">
            <a [routerLink]="'/board/store'">
                <app-coins-display></app-coins-display>
            </a>
            <div class="vertical-line"></div>
            <a [routerLink]="'/board/store'">
                <app-energy-display></app-energy-display>
            </a>
            <div class="vertical-line"></div>
            <a [routerLink]="'/board/main/challenges'">
                <app-experience-display></app-experience-display>
            </a>
        </div>
    </div>
</div>