.validator {
    font-size: var(--text-size-small);

    &__text {
        display: inline-block;
    }

    &__readable-validator {
        position: relative;
        bottom: 4px;
    }

    &__properties {
        display: inline;
        &--typed {
            height: 22px;
            justify-content: flex-start;
            display: flex;
            align-items: center;
        }
    }

    &__property-margin {
        flex: 0 1 24px;
    }

    &__type {
        display: flex;
        align-items: center;
    }

    &__color {
        &--pass {
            app-svg {
                fill: var(--color-pass) !important;;
            }
            span {
                color: var(--color-pass) !important;
            }
        }
        &--fail {
            app-svg {
                fill: var(--color-danger) !important;;
            }
            span {
                color: var(--color-danger) !important;
            }
        }
        &--inactive {
            opacity: 0.5;
        }
        &--neutral {
            color: initial;
        }
    }

    span {
        color: var(--color-text-light)
    }
}
