.validator {
    display: flex;
    align-items: center;
    font-size: var(--text-size-small);
    &--pass {
        color: var(--color-pass);
    }
    &--fail {
        color: var(--color-danger);
    }
    &--neutral {
        color: initial;
    }
}
