<div class="counter-line">
    <div class="d-flex full-width justify-content-center mt-1 mb-2">
        <img class="counter-line__image" src="assets/icons/energy-big.svg">
    </div>
    <h4 class="title full-width justify-content-center d-flex">Your energy: {{(athlete$ | async)?.energy}}/{{RULES.ENERGY.MAX}}</h4>
    <p class="text-small light m-0">The more energy you have the more points you get by playing cards</p>
    <div class="mt-2">
        <app-generic-counter [indicatorData]="indicatorData" [energyColors]="true"></app-generic-counter>
    </div>
</div>
