<div class="box d-flex justify-content-center flex-column align-items-center">
    <div class="d-flex full-width justify-content-center mt-1 mb-2">
        <app-svg [icon]="'fire'" [height]="32" [width]="24" viewBox="0 0 24 32" [styleClass]="'color-secondary-2'"></app-svg>
    </div>
    <span>Your energy:</span>
    <div class="mt-2">
        <app-generic-counter [filledClass]="'background-secondary-2'"
                             [max]="RULES.ENERGY.MAX"
                             [current]="currentEnergy"
        ></app-generic-counter>
    </div>
    <p class="text-small light mt-1 text-center">You need energy to activate tasks</p>
</div>
