<div class="achievement">
    <div class="achievement__body pt-1 pb-1 pl-3 pr-3 d-flex align-items-center">
        <div class="achievement__logo mr-4">
            logo here {{achievement.tier}}
        </div>
        <div class="justify-content-between d-flex flex-grow-1 align-items-center">
            <div>
                <div class="achievement__title text-bold">
                    {{achievement.title}}
                </div>
                <div class="achievement__text">
                    {{achievement.text}}
                </div>
            </div>
            <div class="achievement__value text-bold ml-4">
                {{achievement.value}}<span class=""> points</span>
            </div>
        </div>
    </div>
</div>
