.achievement {
    height: 60px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    &--not-completed {
        filter: grayscale(1);
        opacity: 0.5;
        .achievement__value {
            color: var(--color-text)!important;
        }
        .achievement__text {
            color: var(--color-text)!important;
        }
    }
    &__content {
        height: 100%;
    }
    &__logo {
        img {
            width: 60px;
            height: 60px;
        }
    }
}
