<div class="hand">
  <h3 class="hand__title">My Hand</h3>
  <div *ngIf="(cards | async).length; else noCards">
    <div class="hand__cards">
      <app-selection-wrapper
        [formControl]="selectedCards"
        [template]="cardTemplate"
        [dataItems]="cards | async"
        [wrap]="true"
      >
        <ng-template #cardTemplate let-dataItem="dataItem">
          <app-card
            [card]="dataItem"
          ></app-card>
        </ng-template>
      </app-selection-wrapper>
    </div>
    <app-button [disabled]="!selectedCards.value.length" (buttonClick)="discardCards()" type="danger" label="Discard"></app-button>
  </div>
  <ng-template #noCards>
    <div>No cards</div>
  </ng-template>
  <app-button [disabled]="(cards | async).length >= rules.HAND_SIZE"
            (buttonClick)="drawCard()"
            label="Draw a card"></app-button>
  <app-button *ngIf="possibleCombinations.value.length"
            (buttonClick)="combineCards()"
            label="Combine Identical Cards"
            type="action"
  ></app-button>
</div>
