<div class="app-tabs align-content-end justify-content-between">
    <div class="d-flex full-width justify-content-evenly">
        <div class="d-flex" *ngFor="let tab of tabs">
            <div class="app-tabs__item pb-2 pt-2 pointer"
                 [ngClass]="{'app-tabs__item--active': activeTab?.path === tab.path}"
                 (click)="activateTab(tab)"
            >
                <div class="mb-0-5 mt-0-5 text-bold text-center relative" [ngClass]="{'app-tabs__item--updates': tab.hasUpdates}">{{tab.title}}</div>
            </div>
        </div>
    </div>
</div>