<div class="selection-wrapper"
     [ngClass]="{
         'selection-wrapper--wrap': wrap,
         'selection-wrapper--self-selectable': selfSelectable
     }"
     [formGroup]="innerForm"
     *ngIf="innerForm && dataItems.length">
  <div class="selection-wrapper__select-all" *ngIf="selectionEnabled && !singleSelection && !selfSelectable">
    <input type="checkbox" [formControl]="selectAll">
    <h4>Select/Deselect All</h4>
  </div>
  <div class="selection-wrapper__items">
    <div class="selection-wrapper__data-item"
         *ngFor="let dataItem of dataItems"
         [ngClass]="{
            'selection-wrapper__data-item--selected': innerForm.get(dataItem[idKey]?.toString() || dataItem).value,
            'selection-wrapper__data-item--no-selection': !selectionEnabled
         }"
    >
      <input *ngIf="selectionEnabled && !selfSelectable"
             type="checkbox"
             [formControl]="innerForm.get(dataItem[idKey]?.toString() || dataItem)">
      <div (click)="selectItem(dataItem)">
        <ng-template
            [ngTemplateOutlet]="template"
            [ngTemplateOutletContext]="{ dataItem: dataItem }"
        ></ng-template>
      </div>
    </div>
  </div>
</div>
