.selection-wrapper {
    &--wrap {
        .selection-wrapper__items {
            display: flex;
            flex-wrap: wrap;
        }
        .selection-wrapper__data-item {
            margin: 16px;
        }
    }
    input {
        margin-right: 16px;
        transform: scale(2);
    }
    &__data-item {
        display: flex;
        align-items: center;
        &--no-selection {
            display: block;
        }
    }
    &__select-all {
        display: flex;
        align-items: center;
    }
    &--self-selectable {
        .selection-wrapper__data-item {
            position: relative;
            display: block;
            margin-top: 8px;
            margin-bottom: 8px;
            cursor: pointer;
            &--no-selection {
                cursor: initial;
                &:before {
                    display: none;
                }
            }
            &:before {
                pointer-events: none;
                content: '';
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 4px;
                position: absolute;
                top: 6px;
                left: 6px;
                background-color: var(--card-background);
                z-index: 1;
            }
            &--selected {
                &:before {
                    content: url("../../../../../assets/icons/checkmark-black.svg");
                }
            }
        }
        &.selection-wrapper--single-selection {
            .selection-wrapper__data-item {
                &:before {
                    border-radius: 50%!important;
                    border: 2px solid var(--color-text);
                    width: 36px !important;
                    height: 36px !important;
                }
                &--selected {
                    &:before {
                        content: url("../../../../../assets/icons/radio-checkmark.svg") !important;
                    }
                }
            }
        }
    }
}
