.selection-wrapper {
    &--wrap {
        .selection-wrapper__items {
            display: flex;
            flex-wrap: wrap;
        }
        .selection-wrapper__data-item {
            margin: 16px;
        }
    }
    input {
        margin-right: 16px;
        transform: scale(2);
    }
    &__data-item {
        display: flex;
        align-items: center;
        &--no-selection {
            display: block;
        }
    }
    &__select-all {
        display: flex;
        align-items: center;
    }
    &--self-selectable {
        .selection-wrapper__data-item {
            cursor: pointer;
            border-radius: var(--radius);
            border: 1px solid #0000 !important;
            &--no-selection {
                cursor: initial;
                &:before {
                    display: none;
                }
            }
            &--selected {
                border: 1px solid var(--color-border) !important;
            }
        }
    }
}
