<div class="card card--{{validationStatus.toString()}} {{styleClass}}"
     *ngIf="card && visible"
     [ngClass]="{'card--small': small, 'card--locked': locked}"
>
<!--    <div class="card__id">-->
<!--        {{card.id}}-->
<!--    </div>-->
    <div class="box d-flex align-items-center">
        <div class="card__image card--tier-{{(card.value | tier)}}"
             [style.background-image]="'url(' + card.image + ')'"
        >
        </div>
        <div class="ml-2 pr-3 flex-grow-1">
            <h5>
                {{card.title}}
            </h5>
            <div class="card__description light mt-2" *ngIf="showDescription">
                {{card.description}}
            </div>
            <div class="card__validation">
                <app-validator *ngFor="let validator of card.validators"
                               [validator]="validator"
                               [activityTypes]="activityTypes"
                ></app-validator>
            </div>
        </div>
        <div class="card__value">
            <app-rewards [card]="card"></app-rewards>
            <app-button *ngIf="showActivate && !locked"
                        [small]="true"
                        [styleClass]="'mt-1'"
                        label="Activate"
                        [type]="'action'"
                        [disabled]="!canActivate"
                        (buttonClick)="activate()"
            ></app-button>
        </div>
    </div>
</div>
