.card {
    position: relative;
    width: 100%;
    border: 3px solid black;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    &--pass {
        border-color: var(--color-pass)!important;
        cursor: pointer;
    }

    &--fail {
        border-color: var(--color-danger)!important;
    }

    &--selected {
        border-color: var(--text-active)!important;
        cursor: pointer;
    }

    &__border {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__content {
        display: flex;
        background-color: var(--card-background);
    }
    &__title {
        font-size: var(--text-size-big);
        font-weight: 700;
    }
    &__description, &__manual-note {
        font-size: var(--text-size-small);
    }
    &__bonuses {
        padding: 10px 8px 6px 8px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__progression, &__value, &__energy-price {
        font-size: 14px;
        font-weight: bold;
    }
    &__energy-price {
        color: white!important;
        opacity: 0.9;
        fill: white!important;
        position: relative;
        app-svg {
            position: absolute;
            right: 9px;
            top: 1px;
        }
    }
    &--small {
        width: 250px;
        height: 120px;
        overflow: auto;
        .card__image {
            display: none;
        }
        .card__title {
            font-size: 16px;
            margin: 0;
        }
        .card__content {
            padding: 8px 8px 0 8px;
        }
        .card__description, .card__manual-note {
            font-size: var(--text-size-small);
        }
        .card__bonuses {
            padding: 0 8px 8px 8px;
        }
        .card__progression, .card__value {
            font-size: var(--text-size-small);
        }
    }
    &--submitted {
        .card {
            &__image {
                min-height: 60px;
                width: 60px;
            }
            &__title {
                font-size: var(--text-size-title);
                margin-bottom: 1px;
            }
        }
    }
    &__image {
        width: 100px;
        min-height: 140px;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        flex-shrink: 0;
        img {
            top: -5px;
            left: -5px;
            width: 130px;
            height: 139px;
            position: absolute;
        }
    }
    &__id {
        font-size: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0.2;
    }
    &--tier-0 {
        border-color: var(--color-main-0);
        background-color: var(--color-main-0);
    }
    &--tier-1 {
        border-color: var(--color-main-1);
        background-color: var(--color-main-1);

    }
    &--tier-2 {
        border-color: var(--color-main-2);
        background-color: var(--color-main-2);
    }
    &--tier-3 {
        border-color: var(--color-main-3);
        background-color: var(--color-main-3);

    }
    &--tier-4 {
        border-color: var(--color-main-4);
        background-color: var(--color-main-4);
    }
}
