<div class="card box card--{{validationStatus.toString()}} {{styleClass}}"
     *ngIf="card && visible"
     [ngClass]="{'card--small': small, 'card--locked': locked, 'card--featured': featured}"
>
    <app-entity-id [id]="card.id"></app-entity-id>
    <div class="d-flex justify-content-center mt-n1 mb-1">
        <app-count-down *ngIf="featured"></app-count-down>
    </div>
    <div class="d-flex align-items-center">
        <div class="card__image card--tier-{{(card.value | tier)}}"
             [style.background-image]="'url(' + card.image + ')'"
        >
        </div>
        <div class="ml-2 pr-3 flex-grow-1">
            <h5>
                {{card.title}}
            </h5>
            <div class="card__description light mt-2" *ngIf="showDescription">
                {{card.description}}
            </div>
            <div class="card__validation">
                <app-validator *ngFor="let validator of card.validators"
                               [validator]="validator"
                               [allValidators]="card.validators"
                ></app-validator>
            </div>
        </div>
        <div class="card__value">
            <app-rewards [perks]="(me | async)?.perks" [card]="card" [rewardsOnly]="true"></app-rewards>
            <app-button *ngIf="validationStatus.toString() === ValidationStatus.SELECTED"
                        [small]="true"
                        [styleClass]="'mt-1-5 full-width'"
                        [type]="ButtonType.ACTION"
                        (buttonClick)="addPhoto($event)"
                        [icon]="'camera'"
            ></app-button>
            <app-button *ngIf="showActivate && !locked"
                        [small]="true"
                        [styleClass]="'mt-1-5 full-width'"
                        label="Activate"
                        [type]="ButtonType.ACTION"
                        [disabled]="!canActivate"
                        (buttonClick)="activate()"
            >
                <div class="text-small ml-1 d-flex justify-content-center" *ngIf="card?.energyCost > 0">-{{card?.energyCost}}<div class="pl-1"><app-svg [height]="12" [icon]="'fire'"></app-svg></div></div>
            </app-button>
        </div>
    </div>
    <div *ngIf="imagesController && validationStatus.toString() === ValidationStatus.SELECTED"
         class="background mt-2 border-radius d-none"
         [ngClass]="{'d-block': imagesController.value.length}">
        <app-image-upload
                (click)="$event.stopPropagation()"
                [uploadTrigger]="uploadTrigger"
                [formControl]="imagesController"
        ></app-image-upload>
    </div>
</div>
