<ng-template #templateRef>
    <div class="popup box" [ngClass]="{'popup--wide': wide}">
        <div class="d-flex flex-column align-items-center">
            <div class="mt-4 pt-2 mb-3 text-center">
                <div class="text-big text-bold mb-2">{{title}}</div>
                <div>{{description}}</div>
            </div>
            <ng-content></ng-content>
            <div class="mt-4 mb-2 full-width" *ngIf="showConfirm">
                <app-button [disabled]="disabled" type="action" [label]="confirmText" (buttonClick)="confirm()"></app-button>
            </div>
            <div class="mb-3" *ngIf="showCancel">
                <app-button (buttonClick)="cancel()" [label]="cancelText"></app-button>
            </div>
        </div>
    </div>
</ng-template>