<div class="store-item d-flex flex-column justify-content-between align-items-center box full-height">
    <div class="d-flex flex-column align-items-center mt-2">
        <div class="relative">
            <img class="image-logo" src="assets/images/{{item.imageUrl || 'card_placeholder_icon.png'}}">
            <div class="store-item__rewards">
                <app-rewards [rewards]="item.rewards"
                             [vertical]="true"
                ></app-rewards>
            </div>
        </div>
        <p class="title text-bold mt-2 mb-1">{{item.name}}</p>
    </div>
    <p class="mt-1 mb-2 text-center">{{item.description}}</p>
    <app-button [type]="'action'"
                [disabled]="!stock || finalPrice > (athlete | async)?.currencies?.coins"
                [label]="stock ? 'Buy -' + finalPrice : 'Out of stock'"
                [small]="true"
                (buttonClick)="buyItem()">
        <app-svg *ngIf="stock > 0" [icon]="'coin'" height="16"></app-svg>
    </app-button>
</div>