<ng-container *ngIf="(athlete | async)?.cards.completed.length">
    <h2 class="mb-2 mt-2">Completed Tasks</h2>
    <div class="d-flex justify-content-center">
        <p class="mt-0 mb-2">Congratulation you have new completed task(s):</p>
    </div>
    <div class="d-flex justify-content-center flex-wrap">
        <div class="pl-2 pr-2 mb-2" *ngFor="let card of (athlete | async)?.cards.completed">
            <app-completed-task
                                [cardId]="card"
            >
            </app-completed-task>
        </div>
    </div>
</ng-container>