.reward-bubble {
  @media (min-width: 435px) {
    padding: 2px 4px 1px 5px;
  }
  padding: 2px 2px 1px 3px;
  background-color: var(--color-background);
  border-radius: var(--radius-half);

  &--big {

  }
}