<div class="reward-bubble d-flex align-items-center {{styleClass}}" [ngClass]="{'reward-bubble--big': big}">
    <span class="mr-0 mr-xs-1 text-bold color-background"
          [ngClass]="{'text-medium mt-0-5 mb-0-5': big, 'text-small text-xs-medium': !big}">
        {{value > 0 ? '+' : ''}}{{value}}
    </span>

    <ng-container *ngIf="big; else smallIcon">
        <app-svg height="16" width="16" [icon]="icon" [styleClass]="'color-background'"></app-svg>
    </ng-container>
    <ng-template #smallIcon>
        <app-svg height="14" width="14" [styleClass]="'color-background'" [icon]="icon"></app-svg>
    </ng-template>
</div>
