<h2 class="mb-2 mt-2">My Challenges</h2>

<div class="mb-3">
    <app-level-display [level]="(athlete$ | async).level"
                       [progress]="(athlete$ | async).currencies.experience"
    ></app-level-display>
</div>

<app-active-challenges></app-active-challenges>


<h2 class="mb-2 mt-2">My Rewards</h2>
<div class="d-flex flex-column">
    <div class="row flex-md-nowrap flex-sm-wrap order-1">
        <div class="col-12">
            <div class="d-flex flex-column">
                <ng-container *ngFor="let reward of LEVEL_REWARDS; let i = index">
                    <ng-container *ngIf="((i >= (athlete$ | async).level - 3 || (athlete$ | async).claimedLevelRewards.indexOf(i) === -1) && i <= (athlete$ | async).level + 5)">
                        <app-level
                                [levelIndex]="i"
                                [completed]="(athlete$ | async).level > i"
                                [currencies]="reward"
                                [currentLevel]="(athlete$ | async).level"
                                [progress]="(athlete$ | async).currencies.experience"
                                [claimed]="(athlete$ | async).claimedLevelRewards.indexOf(i) !== -1"
                                [last]="i === (athlete$ | async).level + 5"
                                [first]="i === (athlete$ | async).level - 3 && i !== 0"
                                (claim)="claimReward(i)"
                        ></app-level>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>

</div>
