<div class="row">
    <div class="col-6 mb-2" [ngClass]="{'pr-1': i % 2 === 0, 'pl-1': i % 2 !== 0}" *ngFor="let item of inventoryItems; let i = index">
        <app-unclaimed-item [item]="item" (activate)="activateItem(item)"></app-unclaimed-item>
    </div>
</div>

<div *ngIf="!inventoryItems.length"
     class="text-small mb-2"
>Nothing here yet</div>


<app-popup-wrapper
        [templateControl]="abilitySelectionPopupControl"
        [title]="'Available Perks'"
        [description]="'You can select any one that you like'"
        [confirmText]="'Yes'"
        [cancelText]="'Cancel'"
        [wide]="true"
        (onConfirm)="selectAbility()"
>
    <app-abilities [selectedAbility]="selectedAbility"></app-abilities>
</app-popup-wrapper>

<app-popup-wrapper
        [templateControl]="abilityGainedPopupControl"
        [title]="'You have new perk!'"
        [description]="'From now on you have new perk activated'"
        [confirmText]="'Ok'"
        [showCancel]="false"
        (onConfirm)="activatedAbilityPopupClose()"
>
    <app-ability *ngIf="activatedAbility" [ability]="activatedAbility"></app-ability>
</app-popup-wrapper>