<div>
    <div *ngIf="currencies.perks">
        <h4>Unclaimed perks ({{currencies.perks}})</h4>
        <app-button type="action" (buttonClick)="openAbilitySelection()">Choose</app-button>
    </div>
    <div *ngIf="currencies.random_perks">
        <h4>Unclaimed random perks ({{currencies.random_perks}})</h4>
        <app-button type="action" (buttonClick)="getRandomAbility()">Claim</app-button>
        {{selectedAbility.value}}
    </div>
    <div *ngIf="currencies.chests">
        <h4>Unclaimed chests ({{currencies.chests}})</h4>
        <app-button type="action" (buttonClick)="openChest()">Open</app-button>
    </div>
</div>


<app-popup-wrapper
        [templateControl]="abilitySelectionPopupControl"
        [title]="'Available Perks'"
        [description]="'You can select any one that you like'"
        [confirmText]="'Yes'"
        [cancelText]="'Cancel'"
        [wide]="true"
        (onConfirm)="selectAbility()"
>
    <app-abilities [selectedAbility]="selectedAbility"></app-abilities>
</app-popup-wrapper>

<app-popup-wrapper
        [templateControl]="abilityGainedPopupControl"
        [title]="'You have new perk!'"
        [description]="'From now on you have new perk activated'"
        [confirmText]="'Ok'"
        [showCancel]="false"
        (onConfirm)="activatedAbilityPopupClose()"
>
    <app-ability *ngIf="activatedAbility" [ability]="activatedAbility"></app-ability>
</app-popup-wrapper>