<div class="box d-flex flex-column align-items-center full-height">
    <div class="d-flex full-width justify-content-center mt-1 mb-2">
        <app-svg [icon]="'star'" [height]="32" [width]="34" viewBox="0 0 14 14" [styleClass]="'color-secondary-1'"></app-svg>
    </div>
    <span class="full-width justify-content-center d-flex">Your points:</span>
    <span class="text-bold title mt-1">{{(myScore$ | async)?.value || 0}}</span>
    <p class="text-small light m-0 text-center" *ngIf="(hasPermission$(PERMISSIONS.LEADERBOARD) | async); else noPermission">{{(myScore$ | async) ? 'Currently you are ' + position + ' in the leaderboard' : 'You are not in the leaderboard yet'}}</p>
    <ng-template #noPermission>
        <p class="text-small light m-0 text-center">You are the best!</p>
    </ng-template>
</div>
