.generic-counter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &__point {
        height: 13px;
        border: 2px solid black;
        width: 24px;
        margin: 1px;
        border-radius: 5px;
    }
}
