<app-header [title]="'What\'s new'" [icon]="'kurkudos_logo'"></app-header>
<div class="approved_activities mt-4">

    <div *ngFor="let category of categories">
        <div *ngIf="approvedActivities[category].length" class="mb-3">
            <p class="text-small light mb-1 mt-0">{{categoryTitleMap.get(category)}}</p>
            <ng-container
                [ngTemplateOutlet]="activityTemplate"
                [ngTemplateOutletContext]="{activities: approvedActivities[category]}">
            </ng-container>
        </div>
    </div>

</div>

<ng-template #activityTemplate let-activities="activities">
    <div *ngFor="let activity of activities | sort: 'gameData.submittedAt' : { order: 'desc', type: 'date' }; trackBy: activityTrackBy; let last = last"
         [ngClass]="{'mb-2': !last}"
    >
        <app-activity
            [activity]="activity"
            [showComments]="true"
            (reported)="reportCard($event, activity.id)"
            (liked)="likeCard($event, activity.id)"
        ></app-activity>
    </div>
</ng-template>

<ng-template #reportPopup>
    <div class="popup box">
        <div class="d-flex flex-column align-items-center">
            <p class="mt-5 pt-2 mb-4 text-center">
                Is there a problem? Wrong task? Cheating?
            </p>
            <app-textarea [fc]="reportComment" [label]="'Please provide comment'"></app-textarea>
            <div class="mt-4 mb-2 full-width">
                <app-button type="danger-filled"
                            [label]="'Report'"
                            [disabled]="!reportComment.value"
                            (buttonClick)="confirmReport()"
                ></app-button>
            </div>
            <div class="mb-3">
                <app-button (buttonClick)="cancelReport()" [label]="'Cancel'"></app-button>
            </div>
        </div>
    </div>
</ng-template>