<div class="button {{styleClass}}" (click)="click()" [ngClass]="{
        'button--disabled': disabled,
        'button--danger': type === 'danger',
        'button--danger-filled': type === 'danger-filled',
        'button--success': type === 'success',
        'button--action': type === 'action',
        'button--filled': type === 'filled',
        'button--transparent': transparent,
        'button--small': small
    }">
    <ng-container *ngIf="icon"><app-svg [icon]="icon"></app-svg>&nbsp;</ng-container><span class="title">{{label}}</span>
</div>
