<div class="button {{styleClass}}" (click)="click($event)" [ngClass]="{
        'button--disabled': disabled || loading,
        'button--danger': type === ButtonType.DANGER,
        'button--danger-filled': type === ButtonType.DANGER_FILLED,
        'button--danger-filled-dark': type === ButtonType.DANGER_FILLED_DARK,
        'button--success': type === ButtonType.SUCCESS,
        'button--action': type === ButtonType.ACTION,
        'button--filled': type === ButtonType.FILLED,
        'button--fixed-width': fixedWidth,
        'button--transparent': transparent,
        'button--small': small
    }">
    <ng-container *ngIf="icon"><span class="mr-1"><app-svg [icon]="icon"></app-svg></span></ng-container><span class="title">{{label}}</span><ng-content></ng-content>
</div>
