.button {
    cursor: pointer;
    background-color: var(--acticity-background);
    border-radius: var(--radius);
    padding: 10px;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
        font-weight: 700;
    }
    &--success {

    }
    &--action {
        background-color: var(--color-blue);
        color: var(--acticity-background);
    }
    &--danger {
        color: var(--color-danger);
        app-svg {
            fill: var(--color-danger);
        }
    }
    &--disabled {
        pointer-events: none;
        background-color: var(--color-disabled);
        color: var(--color-text-lighter);
    }
    &--transparent {
        background-color: #00000000!important;
    }
}
