<div class="button {{styleClass}}" (click)="click()" [ngClass]="{
        'button--disabled': disabled,
        'button--danger': type === 'danger',
        'button--danger-filled': type === 'danger-filled',
        'button--success': type === 'success',
        'button--action': type === 'action',
        'button--filled': type === 'filled',
        'button--transparent': transparent,
        'button--small': small
    }">
    <span class="title">{{label}}</span><ng-container *ngIf="icon">&nbsp;<span class="mt-2 pt-1"><app-svg [icon]="icon"></app-svg></span></ng-container>
</div>
