:host {
    width: 100%;
}
.button {
    cursor: pointer;
    background-color: var(--acticity-background);
    border-radius: var(--radius);
    border: 1px solid var(--acticity-background);
    padding: 10px;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
        font-weight: 700;
    }
    &--success {

    }
    &--small {
        padding: 2px 10px;
        height: 32px;
        border-radius: var(--radius-half);
        .title {
            font-size: var(--text-size-medium)!important;
        }
        app-svg {
            svg {
                height: 16px;
                width: 16px;
            }
        }
    }
    &--fixed-width {
        width: 74px!important;
    }
    &--action {
        background-color: var(--color-blue);
        border-color: var(--color-blue);
        color: var(--acticity-background);
        fill: var(--acticity-background);
    }
    &--danger {
        background-color: var(--color-background);
        color: var(--color-danger);
        border-color: var(--color-danger);
        app-svg {
            fill: var(--color-danger);
        }
    }
    &--danger-filled {
        background-color: var(--color-danger);
        border-color: var(--color-danger);
        color: var(--acticity-background);
        app-svg {
            fill: var(--acticity-background);
        }
    }
    &--danger-filled-dark {
        background-color: var(--color-danger-dark);
        border-color: var(--color-danger-dark);
        color: var(--acticity-background);
        app-svg {
            fill: var(--acticity-background);
        }
    }
    &--disabled {
        &:host {
            pointer-events: none;
        }
        pointer-events: none;
        background-color: var(--color-disabled);
        border-color: var(--color-disabled);
        color: var(--color-background);
    }
    &--transparent {
        background-color: #00000000!important;
        border-color: #00000000!important;
    }
    &.technical {
        padding: 2px;
        height: 22px;
        width: 100px;
        border-radius: var(--radius / 4);
        .title {
            font-size: 12px;
        }
    }
}
