<app-card-create [selectedCardFactory]="cardFactoryToEdit"></app-card-create>

<app-selection-wrapper [dataItems]="cardFactories | async"
                       [template]="cardFactoryTemplate"
                       [formControl]="selectedCardFactories"
>
    <ng-template #cardFactoryTemplate let-dataItem="dataItem">
        <app-card-factory
            [cardFactory]="dataItem"
            (select)="cardFactorySelected($event)"
        ></app-card-factory>
    </ng-template>
</app-selection-wrapper>

<app-card-instance-create [cardFactoryIds]="selectedCardFactories.value">
</app-card-instance-create>
