<app-board-header></app-board-header>
<div class="d-flex justify-content-between align-items-center flex-wrap mb-2 mt-4">
    <h2 class="m-0">Store</h2>
    <app-count-down [label]="'Restock in:'" [targetHours]="restockHours"></app-count-down>
</div>
<div class="row">
    <div class="col-6 mb-2" [ngClass]="{'pr-1': i % 2 === 0, 'pl-1': i % 2 !== 0}" *ngFor="let item of storeItems; let i = index">
        <app-store-item [item]="item"
                        (buy)="buyItem(item)"
                        [stock]="availabilityMap.get(item.id)"
        ></app-store-item>
    </div>
</div>

<app-popup-wrapper
        [templateControl]="chestPopupControl"
        [title]="'You got a chest!'"
        [description]="'Go to your Profile to open it'"
        [confirmText]="'Ok'"
        [showCancel]="false"
>
</app-popup-wrapper>
