<h2>Basic Task</h2>
<div class="base-card box d-flex align-items-center justify-content-between" [ngClass]="{'border-primary': remainderActivity}">
    <app-circular-progress-bar
            [type]="'combined'"
            [currentProgress]="(athlete$ | async)?.baseCardProgress.combined || 0"
            [activity]="remainderActivity"
            (click)="claimBaseReward()"
    >
    </app-circular-progress-bar>
    <div class="mr-2">
        <div class="title text-bold mb-2">
            Basic card
        </div>
        <div class="d-flex">
            <app-validator *ngFor="let validator of DISTANCE_VALIDATORS"
                           [validator]="validator"
                           [allValidators]="DISTANCE_VALIDATORS"
            ></app-validator>
            <div class="mr-2"></div>
            <app-validator *ngFor="let validator of TIME_VALIDATORS"
                           [validator]="validator"
                           [allValidators]="TIME_VALIDATORS"
            ></app-validator>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <app-reward-experience [value]="reward"></app-reward-experience>
    </div>
</div>
