<div class="admin-commands">
  <app-selection-wrapper
    [formControl]="selectedAthletes"
    [template]="athleteTemplate"
    [dataItems]="allAthletes | async" >
    <ng-template #athleteTemplate let-dataItem="dataItem">
      <app-athlete
        [athlete]="dataItem"
      ></app-athlete>
    </ng-template>
  </app-selection-wrapper>

  <div class="admin-commands__buttons">
    <app-button [disabled]="!selectedAthletes.value.length" (click)="requestActivities()" label="Request Activities"></app-button>
  </div>
</div>


