<div class="admin-commands">
  <app-selection-wrapper
    [formControl]="selectedAthletes"
    [template]="athleteTemplate"
    [dataItems]="allAthletes | async" >
    <ng-template #athleteTemplate let-dataItem="dataItem">
      <app-athlete
        [athlete]="dataItem"
      ></app-athlete>
    </ng-template>
  </app-selection-wrapper>

  <div class="admin-commands__buttons">
    <app-button [disabled]="!selectedAthletes.value?.length" (buttonClick)="requestActivities()" label="Request Activities"></app-button>
    <app-button styleClass="mt-5" type="action" [disabled]="selectedAthletes.value?.length !== (allAthletes | async).length" (buttonClick)="startGame()" label="Start Game"></app-button>
  </div>
</div>


