.comment {
  background-color: var(--color-background);
  border-radius: var(--radius);
  width: 100%;
}

.comment-separator {
    border-bottom: 1px solid rgba(230, 230, 230, 1);;
    padding-bottom: 4px;
    margin-bottom: 4px;
}
