<div class="d-flex full-width flex-column justify-content-start align-content-start" [ngClass]="{'comment-separator': comment}">
    <div *ngIf="(comment && comment.authorId) || authorId" class="mb-1 d-flex align-items-center gap-1">
        <app-athlete [athleteId]="authorId || comment.authorId"></app-athlete>
        <span class="text-medium" *ngIf="comment || timestamp">{{(timestamp || comment.timestamp) | timeAgo }}</span>
        <app-svg *ngIf="(isAdmin$ | async) && comment"
                 [icon]="'trash'"
                 [styleClass]="'color-danger'"
                 [height]="16"
                 class="ml-2"
                 (click)="delete()"
        >
        </app-svg>
    </div>
    <div class="comment py-1 px-2" [ngClass]="{'text-small': !comment}">
        {{comment ? comment.content : text }}
    </div>
</div>
