<app-header></app-header>

<h2>Board</h2>

<app-athlete [athlete]="athlete | async"></app-athlete>

<app-division-info [division]="(athlete | async)?.division"></app-division-info>

<app-hand
    [formControl]="form.get('selectedCards')">
</app-hand>

<h3>Upload images, if card requires it</h3>
<app-image-upload
    [formControl]="form.get('selectedImages')"
></app-image-upload>

<h3>Comments</h3>
<textarea id="float-input" rows="5" cols="30" pInputTextarea [formControl]="form.get('comments')"></textarea>

<div>
  <h3>New Activities</h3>
  <div *ngFor="let activity of newActivities | async" style="display: flex; align-items: center">
    <app-activity [activity]="activity"></app-activity>
    <p-button *ngIf="activity.gameData.status === 'new'" (click)="submitActivity(activity.id)" label="Submit Activity"></p-button>
    <span *ngIf="activity.gameData.status === 'submitted'">Submitted</span>
  </div>
</div>

