<div class="swiper">
    <div class="swiper__header">
        <div class="swiper__close">
            <app-svg styleClass="pointer" icon="close" (click)="close()"></app-svg>
        </div>
    </div>
    <div class="swiper__image mr-1"
         [ngClass]="{'d-none': slideIndex !== i}"
         *ngFor="let image of images; let i = index"
         [style.background-image]="'url(' + image + ')'"
    >
    </div>
    <div *ngIf="polyline"
         class="swiper__image"
         [ngClass]="{'d-none': slideIndex !== images.length}">
        <app-google-map
                [polyline]="polyline"
                [activityType]="activityType"
        ></app-google-map>
    </div>
    <div class="swiper__controls" *ngIf="images.length">
        <app-svg styleClass="pointer" icon="arrow_left" (click)="prev()"></app-svg>
        <p class="text-bold">{{slideIndex + 1}}/{{images.length + (polyline? 1 : 0)}}</p>
        <app-svg styleClass="pointer" icon="arrow_right" (click)="next()"></app-svg>
    </div>
</div>
