<div class="box challenge d-flex gap-2-5 align-items-center full-height {{completed || 'challenge--completed'}}">
    <div class="challenge__progress">
        <app-circular-progress-bar
                [challengeStat]="challenge.stat"
                [currentValue]="progressToShow || 0"
                [type]="challenge.activityType"
                [targetValue]="challenge.targetValue"
                [small]="true"
        >
        </app-circular-progress-bar>
    </div>
    <div class="d-flex flex-column justify-content-between align-items-start full-height full-width">
        <div class="mb-2">
            <h5 class="mb-1">{{challenge.title}}</h5>
            <div class="text-small text-light">{{challenge.description}}</div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="!completed; else completedTemplate">
            <app-reward-experience *ngIf="challenge.rewards.experience" [value]="challenge.rewards.experience"></app-reward-experience>
            <app-reward-points *ngIf="challenge.rewards.points" [value]="challenge.rewards.points"></app-reward-points>
            <app-reward-money *ngIf="challenge.rewards.coins" [value]="challenge.rewards.coins"></app-reward-money>
        </div>
        <ng-template #completedTemplate>
            <div class="d-flex justify-content-center full-width">
                <app-button (buttonClick)="claim()"
                            type="action"
                            styleClass="full-width"
                            label="Claim reward"
                            [small]="true">
                    <ng-template [ngTemplateOutlet]="svgTemplate" [ngTemplateOutletContext]="{value: challenge.rewards.experience}"></ng-template>
                    <ng-template [ngTemplateOutlet]="svgTemplate" [ngTemplateOutletContext]="{value: challenge.rewards.points}"></ng-template>
                    <ng-template [ngTemplateOutlet]="svgTemplate" [ngTemplateOutletContext]="{value: challenge.rewards.coins}"></ng-template>
                </app-button>
            </div>
        </ng-template>
    </div>
</div>

<ng-template #svgTemplate let-value="value">
    <div class="text-medium text-bold ml-1 d-flex justify-content-center" *ngIf="value > 0">
        {{value}}
        <app-svg [height]="14"
                 [icon]="'fire'"
                 styleClass="color-background"></app-svg>
    </div>
</ng-template>