<div *ngIf="(cardQueue | async)?.length;">
    <div class="hand__cards">
        <app-selection-wrapper
            [singleSelection]="true"
            [formControl]="selectedCards"
            [template]="cardTemplate"
            [selfSelectable]="true"
            [selectionEnabled]="selectionEnabled"
            [dataItems]="(cardQueue | async)"
        >
            <ng-template #cardTemplate let-dataItem="dataItem">
                <app-card
                    [card]="dataItem"
                    [filterData]="filterData"
                    [energy]="(athleteService.me | async).energy"
                ></app-card>
            </ng-template>
        </app-selection-wrapper>
    </div>
</div>

