<div class="card-queue">
    <h3>Card Queue</h3>
    <div *ngIf="(cardQueue | async)?.cardIds?.length; else noCards">
        <div class="hand__cards">
            <app-selection-wrapper
                [singleSelection]="true"
                [formControl]="selectedCards"
                [template]="cardTemplate"
                [selfSelectable]="true"
                [dataItems]="(cardQueue | async).cardIds"
            >
                <ng-template #cardTemplate let-dataItem="dataItem">
                    <app-card
                        [cardId]="dataItem"
                    ></app-card>
                </ng-template>
            </app-selection-wrapper>
        </div>
    </div>
    <ng-template #noCards>
        <div>No cards</div>
    </ng-template>
</div>
