<ng-container *ngIf="boards.length">
    <div class="mb-2">
        <app-board-selection [boards]="boards"
                             [activeBoard]="activeBoard.value"
                             (boardSelected)="activeBoard.setValue($event)"
        ></app-board-selection>
    </div>
    <ng-container *ngFor="let board of boards">
        <ng-container *ngIf="board.key === activeBoard.value">
            <div *ngFor="let level of board.levels; let i = index">
                <div class="d-flex flex-column">
                    <div *ngFor="let card of level.cards">
                        <app-card (activated)="activateCard($event)"
                                  [showActivate]="true"
                                  [canActivate]="(athlete | async)?.energy > cardMap.get(card).energyCost"
                                  [card]="cardMap.get(card)"
                                  [styleClass]="'mb-2'"
                        ></app-card>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>

<!--    <app-button label="Activate" (buttonClick)="activateCard(selectedCard.value[0])"></app-button>-->
</ng-container>
