<ng-container *ngIf="boards.length">
    <h2 *ngIf="title" class="mb-2 mt-3">{{title}}</h2>
    <div class="mb-2">
        <app-board-selection [boards]="boards"
                             [activeBoard]="activeBoard.value?.key"
                             (boardSelected)="setActiveBoard($event)"
        ></app-board-selection>
    </div>
    <ng-container *ngFor="let board of boards">
        <div class="d-none" [ngClass]="{'d-block': activeBoard.value.key === board.key}">
            <div *ngFor="let level of board.levels; let levelIndex = index">
                <ng-container *ngIf="level.cards.length && (showLocked ? (levelIndex - 1) : (levelIndex)) <= unlockMap.get(board.key)">
                    <h2 class="mb-2 mt-2" *ngIf="(levelIndex - 1) === unlockMap.get(board.key)">Locked Tasks</h2>
                    <div [ngClass]="{'border-primary border-radius p-2 mb-2': (levelIndex - 1) === unlockMap.get(board.key)}">
                        <div class="d-flex flex-column">
                            <ng-container *ngFor="let card of level.cards">
                                <app-card *ngIf="cardMap.get(card)?.card"
                                          (click)="cardClicked(cardMap.get(card)!)"
                                          [validationStatus]="cardMap.get(card)?.validationStatus"
                                          [imagesController]="uploadedImages.get(card)"
                                          [locked]="unlockMap.get(board.key) < levelIndex"
                                          [canActivate]="(athlete | async)?.currencies.energy >= cardMap.get(card)?.card.energyCost && (athlete | async)?.cards.active.length < RULES.SCHEME.MAX_ACTIVE_CARDS"
                                          [card]="cardMap.get(card)?.card"
                                          [styleClass]="'mb-2'"
                                ></app-card>
                            </ng-container>
                        </div>
                        <app-button
                                *ngIf="unlockMap.get(board.key) === levelIndex - 1"
                                label="Unlock for -{{(RULES.COINS.BASE_UNLOCK_PRICE + (RULES.COINS.PER_LEVEL_PRICE * levelIndex))}}"
                                [disabled]="(RULES.COINS.BASE_UNLOCK_PRICE + (RULES.COINS.PER_LEVEL_PRICE * levelIndex)) > (athlete | async)?.currencies.coins"
                                (buttonClick)="unlockLevel(board.key)"
                                type="action"
                        >
                            <app-svg [icon]="'coin'" height="20"></app-svg>
                        </app-button>
                    </div>
                </ng-container>
                <div *ngIf="showLocked && level.cards.length && levelIndex === unlockMap.get(board.key) + 2">
                    <div class="mb-2">
                        <app-card-placeholder></app-card-placeholder>
                    </div>
                    <div style="opacity: 0.5;">
                        <app-card-placeholder></app-card-placeholder>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>

<ng-template #unlockPopup>
    <div class="popup box">
        <div class="d-flex flex-column align-items-center">
            <p class="mt-5 pt-2 mb-4 text-center">
                Are you sure you want to unlock new tasks?
            </p>
            <div class="mt-4 mb-2 full-width">
                <app-button type="action" [label]="'Yes'" (buttonClick)="confirmUnlock()"></app-button>
            </div>
            <div class="mb-3">
                <app-button (buttonClick)="cancelUnlock()" [label]="'Cancel'"></app-button>
            </div>
        </div>
    </div>
</ng-template>
