<ng-container *ngIf="featuredCard?.card">
    <h2 class="mb-2 mt-2">Featured Task</h2>
    <div class="mb-3">
        <app-card (click)="cardSelected(featuredCard)"
                  [card]="featuredCard?.card"
                  [showDescription]="false"
                  [imagesController]="uploadedImages.get(cardList.length + '')"
                  [validationStatus]="featuredCard.validationStatus"
                  [featured]="true"
        ></app-card>
    </div>
</ng-container>

<h2 class="mb-2 mt-2">Active Tasks</h2>
<div class="mb-2">
    <app-add-card-button
            *ngIf="cardList.length < RULES.SCHEME.MAX_ACTIVE_CARDS"
            (click)="openCardScheme()">
    </app-add-card-button>
</div>

<div *ngFor="let validatedCard of cardList; let i = index; trackBy: cardTrackBy" class="mb-2">
    <app-card (click)="cardSelected(validatedCard)"
              [card]="validatedCard.card"
              [showDescription]="false"
              [imagesController]="uploadedImages?.get(i + '')"
              [validationStatus]="validatedCard.validationStatus"
    ></app-card>
</div>
<div class="row mb-2">
    <div class="col-md-12">
        <app-base-card [remainderActivity]="remainderActivity">

        </app-base-card>
    </div>
</div>
<app-button *ngIf="selectedActivity$ | async"
            [type]="'action'"
            [label]="'Submit'"
            (buttonClick)="submitActivity()"
            [disabled]="loading"
></app-button>