<div class="box d-flex justify-content-between align-items-center relative">
    <div class="d-flex align-items-center">
        <app-activity-type-icon [type]="activityType"
                                [width]="14"
                                [height]="14"
        >
        </app-activity-type-icon>
        <span class="m-0 ml-1 text-small text-bold">{{activityType === 'other' ? (value | minutes) : (value | distance)}}</span>
    </div>

    <app-entity-id [id]="activity.id"></app-entity-id>

    <div class="d-flex align-items-center">
        <app-strava-link class="mr-2" [id]="activity.id"></app-strava-link>

        <app-button *ngIf="active; else submitButton"
                    [small]="true"
                    type="action"
                    [label]="'Cancel'"
                    (buttonClick)="cancel()"></app-button>
        <ng-template #submitButton>
            <app-button [small]="true"
                        type="action"
                        [label]="'Submit'"
                        [disabled]="disabled"
                        (buttonClick)="submit()"></app-button>
        </ng-template>
    </div>
</div>